<div class="AntimicrobialPage">
  <div class="AntimicrobialMainPath">Home / Anti Microbial</div>

  <div class="AntimicrobialPageImage showOnDesktop">
    <img
      src="../../assets/Antimicrobial//image-001.png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer ">
      <h5>ANTIMICROBIAL</h5>
      <h1>LEAD THE CHANGE, ELEVATE YOUR DESIGN VALUE</h1>
      <h6>AcryMed, an enhanced solid surface.</h6>
    </div>
  </div>

  <div class="AntimicrobialPageImage showOnMobile">
    <img
      src="../../assets/Antimicrobial//image-001_1.png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer ">
      <h5>ANTIMICROBIAL</h5>
      <h1>
        LEAD THE CHANGE, <br />
        ELEVATE YOUR <br />
        DESIGN VALUE
      </h1>
      <h6>AcryMed, an enhanced solid surface.</h6>
    </div>
  </div>

  <div class="AntimicrobialPageContainerOne ">
    <p>
      Environmental changes and the concept of having an ecological and
      sustainable lifestyle have manifested in our decision-making behavior
      nowadays. Along with global epidemic impact, the antimicrobial applied
      product has become the mainstream of high-quality living.
      <br /><br />
      With Acrymed, an antimicrobial acrylic solid surface, leading with
      advanced antimicrobial technology and upholding environmental awareness,
      providing our customers the highest quality of living. standards.
    </p>
  </div>

  <div class="AMIContainer2">
    <img src="../../assets/Antimicrobial/about-acrymed-4 1.png" alt="" />
    <img src="../../assets/Antimicrobial/about-acrymed-4 2.png" alt="" />
  </div>

  <!-- <div class="AMC2"></div> -->

  <div class="BacteriaStandardContainer">
    <div class="BSCLeft ">
      <h1>Certified and Tested</h1>
      <p style="margin-top: 50px">
        Certified in accordance with ISO 22196 and JIS Z 2801. It offers
        integrated hygienic surface protection with a significant impact that
        works effectively against bacteria.
      </p>
      <div class="StandardsImageContainer">
        <img src="../../assets/Healthcare/JIS.png" class="StandardLogo" />
        <img src="../../assets/Healthcare/ISO.png" class="StandardLogo" />
      </div>
    </div>

    <div class="BSCRight">
      <h1>99.9<sup>%</sup></h1>
      <h2>effective against :</h2>
      <div class="BacteriaList">
        <h3>ATCC 33591 Staphylococcus aureus subsp. Aureus (MRSA)</h3>
        <h3>ATCC 8739 Escherichia coli</h3>
        <h3>ATCC 9027 Pseudomonas aeruginosa</h3>
        <h3>ATCC 4352 Klebsiella pneumoniae</h3>
      </div>
      <div class="DisclaimerContainer">
        <b style="line-height: 30px">ACRYMED DISCLAIMER:</b>
        <br />
        Tested 99.9%* effective against Meganite selected bacteria in accordance
        with ISO 22196 and JIS Z 2801 testing standards. Results may vary when
        tested on different organisms or bacteria. The AcryMed technology
        protects the product itself against stain and odor-causing bacteria.
        AcryMed does not protect users or other beings from disease-causing
        bacteria.
      </div>
    </div>
  </div>

  <div class="AMC3">
    <img src="../../assets/Antimicrobial/image-003.png" alt="" />
  </div>

  <div class="AMC4">
    <div class="AMC4ChildContainer">
      <img src="../../assets/Antimicrobial/image-004.png" alt="" />
      <div class="AMC4CCRight">
        <p class="P1">Featured on Healthcare Design Magazine</p>
        <p class="P2">The Premier Source For Design Trends in Healthcare</p>
        <br />
        <p class="P2">Read More Now >></p>
      </div>
    </div>
  </div>

  <div class="AMIContainer">
    <img src="../../assets/Antimicrobial/image-005.png" alt="" />
  </div>

  <div class="AMC5 ">
    <h1>
      Rethink the Possibilities<br />
      for All Interior Spaces
    </h1>
    <p>
      Not limited to healthcare spaces, AcryMed is suitable for all <br />
      spaces that requires high hygiene demands. This includes:
    </p>
    <div>
      <b>Food Services</b>
      <b>Commercial</b>
      <b>Education</b>
      <b>Residential</b>
    </div>
  </div>

  <div class="AMC6">
    <img src="../../assets/Antimicrobial/image-006.png" alt="" />
    <img src="../../assets/Antimicrobial/image-007.png" alt="" />
  </div>

  <div class="TextLogoContainer">
    <div class="LogoContainer">
      <img src="../../assets/Franchise/Logo-1.png" class="LogoStyling" alt="" />
      <img src="../../assets/Franchise/Logo-2.png" class="LogoStyling" alt="" />
    </div>
  </div>

  <div class="TextLogoContainer2 ">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications.
    </p>
    <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div>
  </div>

  <div class="AMC3">
    <img src="../../assets/Antimicrobial/image-008.png" alt="" />
  </div>

  <div class="AMC7">
    <div class="AMC7ChildContainer AMC7CCOne">
      <div class="AMC7CC1Text">
        <h1>AcryMed Colors</h1>
        <p>Find the design that suits your project best.</p>
      </div>
      <div class="AMC7CC1Text2">
        <p>See More Colors >></p>
      </div>
    </div>
    <div class="AMC7ChildContainer AMC7CCTwo"></div>
    <div class="AMC7ChildContainer AMC7CCThree showOnDesktop">
      <img src="../../assets/Antimicrobial/image-009.png" alt="" />
    </div>
    <div class="AMC7ChildContainer AMC7CCFour">
      <div class="AMC7CC4Text ">
        <h1>AcryMed ADA Compliant Sinks</h1>
        <p>ADA-compliant when installed properly per ADA guidelines.</p>
        <p class="Text2">
          Thermoformability allows integration for surface tops and <br />
          sinks, offering a smooth, curved, and seamless design free of <br />
          crevices which capture dirt, promoting a clean and hygienic <br />
          environment in which limits mold and bacteria growth.
        </p>
      </div>
      <div class="AMC7CC4Text2">
        <p>Explore more >></p>
      </div>
    </div>
    <div class="AMC7ChildContainer AMC7CCThree showOnMobile">
      <img src="../../assets/Antimicrobial/image-009.png" alt="" />
    </div>
  </div>

  <div class="AMC3">
    <img src="../../assets/Antimicrobial/image-0010.png" alt="" />
  </div>

  <div class="PastProjectContainer">
    <div class="PPCLeft">
      <div class="PPCLeftLogo">
        <!-- <img
          src="../../assets/Franchise/clock.png"
          alt=""
          style="width: 40%"
          class="PastProjectLogo"
        /> -->
        <span class="material-icons clock"> schedule </span>
      </div>
      <div class="PPCLeftText">
        <div>
          <h1>PAST PROJECT</h1>
          <p>
            Be inspired by our past projects and get an impression of the design
            solutions that Meganite® make possible!
          </p>
          <b
          style="
            font-weight: inherit;
            text-decoration: underline;
            color: inherit;
          "
          >Go to Past Project page</b
        >
        </div>
      </div>
    </div>
    <div class="PPCRight">
      <div class="PPCLeftLogo">
        <!-- <img
          src="../../assets/Antimicrobial/logo-001.png"
          alt=""
          style="width: 30%"
          class="NotesLogo"
        /> -->
        <span class="material-icons outlined clock"> description </span>
      </div>
      <div class="PPCRightText">
        <div>
          <h1>SUPPORT DOCUMENT</h1>
          <p>
            Can’t find what you’re after? Call or email us for the specific
            details you need.
          </p>
          <b
            style="
              font-weight: inherit;
              text-decoration: underline;
              color: inherit;
            "
            >Go to Technical Document page</b
          >
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
