<div
  class="HeaderMainContainer"
  style="background-color: #c0c0c0"
  *ngIf="this.global.showRegion"
>
  <div class="LinkContainerOne"></div>
  <div>
    <div class="InputContainer">
      <p>Choose Another Region</p>
      <input type="text" class="InputStyling" placeholder="Taiwan" />
      <button class="subscribeButton">Go</button>
      <button class="cancelButton" (click)="showRegionPopup()">X</button>
    </div>
  </div>
  <div class="LinkContainerTwo" style="width: 30%"></div>
</div>

<div
  [ngClass]="
    this.global.showRegion == false
      ? 'HeaderMainContainer headerBarPositioningZero'
      : 'HeaderMainContainer headerBarPositioningBottom'
  "
>
  <div class="LinkContainerOne">
    <a class="hide"
      ><fa-icon
        [icon]="faHamburger"
        style="font-size: 25px; color: grey"
      ></fa-icon
    ></a>
    <a
      [ngClass]="
        activatedLink == 'Product' ? 'activeLink headerLink' : 'headerLink'
      "
      (click)="showDropdown()"
      >Product</a
    >
    <a class="headerLink">Anitmicrobial</a>
    <a class="headerLink">Franchise</a>
    <a class="headerLink">Healthcare</a>
  </div>
  <div class="LogoContainer">
    <img
      src="../../../assets/logo.png"
      alt=""
      LLLLLL
      style="height: 90%"
      routerLink="/"
    />
  </div>
  <div class="LinkContainerTwo">
    <a routerLink="/news" class="headerLink">News</a>
    <a class="headerLink">Inspiration</a>
    <a class="headerLink">Specification</a>
    <a class="headerLink" (click)="showRegionPopup()">Region</a>
    <a (click)="showCountryPopup()">
      <!-- <img
        style="width: 20px; vertical-align: middle"
        src="https://img.icons8.com/color/48/000000/europe.png"
    /> -->
      <fa-icon [icon]="faGlobe" style="font-size: 17px; color: grey"></fa-icon>
    </a>
  </div>
</div>

<div class="dropdownHeaderContainer" *ngIf="this.activatedLink == 'Product'">
  <div class="leftContainer">
    <div class="dropdownLinkContainer">
      <a>Solid Surface</a>
      <a>Sunks</a>
      <a>Antimicrobial AcryMed</a>
    </div>
  </div>
  <div class="rightContainer">
    <div class="headerImageContainer1">
      <img src="../../../assets/Header (1).png" style="height: auto" alt="" />
      <div class="headerImageContainerText">THE MARBLE-INSPIRED TREND</div>
    </div>
    <div class="headerImageContainer2">
      <img src="../../../assets/Header (2).png" style="height: auto" alt="" />
      <div class="headerImageContainerText">CATTAIL M038 ></div>
    </div>
  </div>
</div>
