<div
  class="HeaderMainContainer slide-in-top show"
  style="background-color: #c0c0c0"
  *ngIf="this.global.showRegion"
>
  <div class="RegionContainerOne"></div>
  <!-- <div style="border: 2px solid black"> -->
  <div class="InputContainer">
    <p>Choose Another Region</p>
    <!-- <select type="text" class="InputStyling" placeholder="Taiwan" /> -->
    <select name="" id="" class="InputStyling" placeholder="Taiwan">
      <option value="Taiwan">Europe</option>
      <option value="Taiwan">Taiwan</option>
      <option value="Taiwan">America</option>
      <!-- <option value="Taiwan"></option> -->
      <!-- <option value="Taiwan">Taiwan</option> -->
    </select>
    <button class="subscribeButton">Go</button>
    <button class="cancelButton" (click)="showRegionPopup()">x</button>
  </div>
  <!-- </div> -->
  <div class="RegionContainerTwo"></div>
</div>

<div
  [ngClass]="
    this.global.showRegion == false
      ? 'HeaderMainContainer headerBarPositioningZero'
      : 'HeaderMainContainer headerBarPositioningBottom slide-in-top'
  "
>
  <div class="LinkContainerOne">
    <a class="hide" (click)="showDropdownMobile = !showDropdownMobile"
      ><fa-icon
        [icon]="faHamburger"
        *ngIf="!this.showDropdownMobile"
        style="font-size: 20px; color: grey; margin-left: 5px"
      ></fa-icon>
      <fa-icon
        [icon]="faAngleRight"
        *ngIf="this.showDropdownMobile"
        style="font-size: 20px; color: grey; margin-left: 5px"
      ></fa-icon>
    </a>
    <a
      [ngClass]="
        activatedLink == 'Product' ? 'activeLink headerLink' : 'headerLink'
      "
      (click)="showDropdown()"
      >Product</a
    >
    <a class="headerLink">Anitmicrobial</a>
    <a class="headerLink" routerLink="/franchise">Franchise</a>
    <a class="headerLink" routerLink="/healthcare">Healthcare</a>
  </div>
  <div class="LogoContainer">
    <img
      src="../../../assets/logo.png"
      alt=""
      LLLLLL
      style="height: 90%"
      routerLink="/"
    />
  </div>
  <div class="LinkContainerTwo">
    <a routerLink="/news" class="headerLink">News</a>
    <a class="headerLink" routerLink="/inspiration/education">Inspiration</a>
    <a class="headerLink">Specification</a>
    <a class="headerLink" (click)="showRegionPopup()">Region</a>
    <a (click)="showCountryPopup()">
      <!-- <img
        style="width: 20px; vertical-align: middle"
        src="https://img.icons8.com/color/48/000000/europe.png"
    /> -->
      <fa-icon [icon]="faGlobe" style="font-size: 15px; color: grey"></fa-icon>
    </a>
  </div>
</div>

<div
  class="dropdownHeaderContainer show slide-in-top"
  *ngIf="this.activatedLink == 'Product'"
>
  <div class="leftContainer">
    <div class="dropdownLinkContainer">
      <a (click)="navigateFromHeaderTo('products')">Solid Surface</a>
      <a>Sunks</a>
      <a>Antimicrobial AcryMed</a>
    </div>
  </div>
  <div class="rightContainer">
    <div class="headerImageContainer1">
      <img
        src="../../../assets/Header (1).png"
        style="height: auto; width: 100%"
        alt=""
      />
      <div class="headerImageContainerText">THE MARBLE-INSPIRED TREND</div>
    </div>
    <div class="headerImageContainer2">
      <img
        src="../../../assets/Header (2).png"
        style="height: auto; width: 100%"
        alt=""
      />
      <div class="headerImageContainerText">CATTAIL M038 ></div>
    </div>
  </div>
</div>

<div
  *ngIf="showDropdownMobile"
  style="z-index: 2"
  [ngClass]="
    showDropdownMobile == true
      ? 'dropdownHeaderContainer dropdownHeaderContainerMoble hide slide-in-top'
      : 'dropdownHeaderContainer dropdownHeaderContainerMoble hide'
  "
>
  <!-- <div class="leftContainer"> -->
  <div class="dropdownLinkContainer dropdownLinkContainerMobile">
    <a
      (click)="switchMenu('Product')"
      [ngClass]="this.activeMenu == 'Product' ? 'activeMenuClass' : ''"
      >Product</a
    >
    <a
      (click)="switchMenu('Specification')"
      [ngClass]="this.activeMenu == 'Specification' ? 'activeMenuClass' : ''"
      >Specification</a
    >
    <a
      (click)="switchMenu('Inspiration')"
      [ngClass]="this.activeMenu == 'Inspiration' ? 'activeMenuClass' : ''"
      >Inspiration</a
    >
  </div>
  <div class="dropdownDetailedOptions dropdownDetailedOptionsMobile">
    <a
      *ngFor="let item of getMenuItems()"
      [ngClass]="
        item.class == 'two'
          ? 'bunchTwo'
          : item.class == 'three'
          ? 'bunchThree'
          : ''
      "
      >{{ item.menuName
      }}<fa-icon
        [icon]="faAngleRight"
        style="font-size: 13px; color: grey; float: right"
      ></fa-icon
    ></a>
    <a class="bunchThree"
      >News<fa-icon
        [icon]="faAngleRight"
        style="font-size: 13px; color: grey; float: right"
      ></fa-icon
    ></a>
    <a class="bunchThree"
      >Location<fa-icon
        [icon]="faAngleRight"
        style="font-size: 13px; color: grey; float: right"
      ></fa-icon
    ></a>
    <a class="bunchThree"
      >Contact<fa-icon
        [icon]="faAngleRight"
        style="font-size: 13px; color: grey; float: right"
      ></fa-icon
    ></a>
    <a class="LocationMenu"
      >Request Sample<fa-icon
        [icon]="faCart"
        style="font-size: 13px; color: white; float: right"
      ></fa-icon
    ></a>
  </div>
  <!-- </div> -->
</div>
