<div class="AboutMeganitePage">
  <div class="AboutMeganiteMainPath">Home / About Meganite</div>

  <div class="AboutMeganitePageImage">
    <img
      src="../../assets/About-Meganite/image-001.png"
      class="SolidImageOne"
    />
  </div>

  <div class="AboutMeganiteContainerOne">
    <div class="AMCOLeft">
      <h1>
        The<br />
        Meganite<br />
        Story<br />
      </h1>
      <p>
        Meganite is a private, family-owned business founded by a chemical
        engineer. He had a relentless focus on R&D to provide quality products
        at the best value. Starting with manufacturing composite materials like
        resins, gel coats and color paste, we eventually evolved to solid
        surfaces which is our core focus.
      </p>
      <b> Est. in 1976 </b>
    </div>
    <div class="AMCORight">
      <h1>
        Today, as a US-based company, we build off our long history and
        expertise to continue to innovate on acrylic solid surfaces. Our
        managing philosophy is to partner for the long- term, and grow with our
        distributors and customers. As a solid partner, some of Meganite’s
        distributor- partnerships have lasted decades.
      </h1>
    </div>
  </div>

  <div class="AboutMeganitePageImage">
    <img
      src="../../assets/About-Meganite/image-002.png"
      class="SolidImageOne"
    />
  </div>

  <div class="AboutMeganiteContainerTwo">
    <div class="AMCTLeft">
      <img
        src="../../assets/About-Meganite/image-003.png"
        class="SolidImageOne"
        alt=""
      />
    </div>
    <div class="AMCTRight">
      <h1>Work Together to Bring Your Ideas to Life</h1>
      <p>
        Meganite continues to focus on providing quality products to Architects
        & Designers and end-customers.We never stray from only using top
        ingredients in our surfaces, and our acrylic solid surfaces use 100%
        acrylic resins including the chips in our patterned sheets.
      </p>
    </div>
  </div>

  <div class="TableTypeContainer">
    <h1 class="MainTTHeading">A Sustainable Choice</h1>
    <div class="TTChild TTCOne">
      <div class="ChildLogoContainer">
        <img
          src="../../assets/Inspiration-Commercial/logo-001.png"
          style="width: 80%; margin: auto"
          alt=""
        />
      </div>
      <div class="ChildTextContainer">
        <h1>
          NSF/ANSI Standard 51 Certified for food contact, the highest level,
          for all food types in commercial food preparation.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCTwo">
      <div class="ChildLogoContainer">
        <img src="../../assets/Inspiration-Commercial/logo-002.png" alt="" />
      </div>
      <div class="ChildTextContainer">
        <h1>
          Our most popular colors now offered in SCS-certified recycled options,
          that contain minimum 6% of recycled material.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCThree">
      <div class="ChildLogoContainer hide">
        <img src="../../assets/Inspiration-Commercial/logo-004.png" alt="" />
        <img src="../../assets/Inspiration-Commercial/logo-003.png" alt="" />
      </div>
      <div class="logt show">
        <img src="../../assets/Inspiration-Commercial/logo-004.png" alt="" />
        <img src="../../assets/Inspiration-Commercial/logo-003.png" alt="" />
      </div>
      <div class="ChildTextContainer">
        <h1>
          Certified for indoor air quality on VOCs with the Green Guard Gold
          (formerly known as GREENGUARD Children & Schools Certification) which
          offers stricter certification criteria that considers safety for
          sensitive individuals (such as children and the elderly), and ensures
          that a product is acceptable for use in environments such as schools
          and healthcare facilities. It is referenced by both The Collaborative
          for High Performance Schools (CHPS) and the Leadership in Energy and
          Environmental Design (LEED) Building Rating System.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCFour">
      <div class="ChildLogoContainer"></div>
      <div class="ChildTextContainer" style="width: 80%">
        <div class="HPDButtonContainer">
          <button>HPD File</button>
          <h1 class="HPDText">
            Link to Health Product Declaration® for Green Building
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="AboutMeganitePageImage">
    <img
      src="../../assets/About-Meganite/image-004.png"
      class="SolidImageOne"
    />
  </div>

  <div class="GrowInnovateContainer">
    <div class="GICLeft">
      <h1>Grow & Innovate</h1>
    </div>
    <div class="GICRight">
      <p>
        – One of industry’s first innovator for marble-veined inspired solid
        surface design.
      </p>
      <p>– Committed to creating sustainable products.</p>
      <p>– Extensive sales distribution network across the globe.</p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
