<div class="WhereToBuyMainPage">
  <div class="WhereToBuyMainPath">Home / Where To Buy</div>
  <div class="MainContainer">
    <div class="SearchBoxContainer">
      <h1>Search By Location</h1>
      <div class="InputContainer">
        <p style="margin-bottom: 18px; display: block">Country</p>
        <select
          name=""
          id=""
          class="InputStyling"
          placeholder="Taiwan"
          [(ngModel)]="this.selectedCountry"
          (change)="filterLocations($event)"
        >
          <option value="Taiwan">Please Select</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Europe">Europe</option>
        </select>
      </div>
      <div class="InputContainer">
        <p style="margin-bottom: 18px; display: block">City</p>
        <select
          name=""
          id=""
          class="InputStyling"
          placeholder="Taiwan"
          [(ngModel)]="this.selectedState"
        >
          <option value="Taiwan">Please Select</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Europe">Europe</option>
        </select>
      </div>
    </div>
    <div class="MapContainer">
      <!-- <img src="../../assets/Where-To-Buy/map.png" alt="" /> -->
      <div style="width: 100%; height: 100%">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          [zoomControl]="false"
          (mapClick)="mapClicked($event)"
        >
          <agm-marker
            *ngFor="let m of outlets; let i = index"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)"
          >
            <agm-info-window>
              <strong>{{ m.outletName }}</strong>
            </agm-info-window>
          </agm-marker>

          <agm-circle
            [latitude]="lat + 0.3"
            [longitude]="lng"
            [radius]="5000"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true"
          >
          </agm-circle>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="ResultContainer">
    <div class="ResultCard" *ngFor="let locations of getFilteredLoations()">
      <h1 class="LocationName">{{ locations.locationName }}</h1>
      <div class="Address">
        <p>
          {{ locations.address }}
        </p>
      </div>
      <div class="ServiceArea">
        <p>Service Area</p>
      </div>
      <div class="ServiceAreaDescription">
        <p>
          {{ locations.serviceArea }}
        </p>
      </div>
      <div class="MoreInfo">
        <p>{{ locations.phoneNumber }}</p>
        <p>Visit Retailer's Site</p>
        <p>{{ locations.email }}</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
