<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Inspirations / Commercial</div>

  <div class="ProductPageImage">
    <img
      src="../../assets/Inspiration-Commercial/image-001.png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer">
      <h1>Delivering A Positive First Impression with Meganite</h1>
    </div>
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">
        First impression matters. Every piece of furniture will contribute to
        guests’ impressions, but countertops are one of the most significant
        elements.
        <br /><br />
        From the reception area and the product display to the bathrooms and the
        boardroom, guests might visit multiple spaces. Selecting the right
        material for countertops will help business make a positive progess.
      </h1>
    </div>
  </div>

  <div class="MainHeading2Container">
    <h1>
      Versatile And Hygienic
      <br />
      for High-traffic Space
    </h1>
  </div>
  <div class="MainPara2Container">
    <h1>
      Excelling in high traffic areas, Meganite Solid Surface is durable and
      hygienic enough to withstand the frequent touches by the ongoing flow of
      guests and staff.
    </h1>
  </div>

  <div class="SecondContainer">
    <img src="../../assets/Inspiration-Commercial/image-002.png" alt="" />
  </div>

  <div class="MainHeading3Container">
    <h1>Save Intangible Costs of Maintenance</h1>
  </div>

  <div class="MainPara3Container">
    <h1>
      Maintaining the utmost hygiene standard and reducing the risk of bacterial
      growth is crucial. With the nonporous and seamless advantages, Meganite is
      easy to clean and maitain which save intangible maintencance cost for
      owers in the long run.
    </h1>
  </div>

  <div
    class="SecondContainer"
    style="width: 100%; padding-left: 0px; padding-right: 0px"
  >
    <img
      src="../../assets/Inspiration-Commercial/image-003.png"
      style="width: 100%"
      alt=""
    />
  </div>

  <div class="MainHeading4Container">
    <h1>Endless Design Possibilities</h1>
  </div>

  <div class="MainPara4Container">
    <h1>
      Taking advantage of solid surface thermoforming abilities, you can create
      striking curves with inconspicuous joints for commercial design plans.
      Meganite can fulfill all your design needs with unlimited shapes and color
      combinations.
    </h1>
  </div>

  <div class="HomeBannerSecondContainer">
    <div class="HomeImageSecondContainer">
      <img
        src="../../assets/Inspiration-Commercial/image-004.png"
        alt=""
        style="width: 100%; height: auto"
        class="secondImageResponsive"
      />
    </div>
    <div class="HomeImageSecondContainer">
      <img
        src="../../assets/Inspiration-Commercial/image-005.png"
        alt=""
        style="width: 100%; height: auto"
        class="secondImageResponsive"
      />
    </div>
  </div>

  <div class="TableTypeContainer">
    <h1 class="MainTTHeading">A Sustainable Choice</h1>
    <div class="TTChild TTCOne">
      <div class="ChildLogoContainer">
        <img
          src="../../assets/Inspiration-Commercial/logo-001.png"
          style="width: 80%; margin: auto"
          alt=""
        />
      </div>
      <div class="ChildTextContainer">
        <h1>
          NSF/ANSI Standard 51 Certified for food contact, the highest level,
          for all food types in commercial food preparation.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCTwo">
      <div class="ChildLogoContainer">
        <img src="../../assets/Inspiration-Commercial/logo-002.png" alt="" />
      </div>
      <div class="ChildTextContainer">
        <h1>
          Our most popular colors now offered in SCS-certified recycled options,
          that contain minimum 6% of recycled material.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCThree">
      <div class="ChildLogoContainer">
        <img src="../../assets/Inspiration-Commercial/logo-004.png" alt="" />
        <img src="../../assets/Inspiration-Commercial/logo-003.png" alt="" />
      </div>
      <div class="ChildTextContainer">
        <h1>
          Certified for indoor air quality on VOCs with the Green Guard Gold
          (formerly known as GREENGUARD Children & Schools Certification) which
          offers stricter certification criteria tha considers safety for
          sensitive individuals (such as children and the elderly), and ensures
          that a product is acceptable for use in environments such as schools
          and healthcare facilities. It is referenced by both The Collaborative
          for High Performance Schools (CHPS) and the Leadership in Energy and
          Environmental Design (LEED) Building Rating System.
        </h1>
      </div>
    </div>
    <div class="TTChild TTCFour">
      <div class="ChildLogoContainer"></div>
      <div class="ChildTextContainer HBDStyle">
        <div class="HPDButtonContainer">
          <button>HPD File</button>
          <h1 class="HPDText">
            Link to Health Product Declaration® for Green Building
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div
    class="SecondContainer"
    style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px"
  >
    <img
      src="../../assets/Inspiration-Commercial/image-006.png"
      style="width: 100%"
      alt=""
    />
  </div>

  <div class="MainHeading5Container">
    <h1>
      Meganite solid surface is suitable for all areas of commercial spaces.
    </h1>
  </div>

  <div class="MainPara5Container">
    <div class="ListContainer1">
      <div class="List1">
        <ul>
          <li>Reception Counters</li>
          <li>Cafeterias & Pantries</li>
          <li>Dormitory Rooms</li>
          <li>Shower Stalls & Shower Pans</li>
        </ul>
      </div>
      <div class="List1">
        <ul>
          <li>Table Tops</li>
          <li>
            Public Restrooms *
            <p class="ThinLine">
              Sink & vanities, restroom partitions, trash receptors.
            </p>
          </li>
          <li>Student Union Buildings</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="TextLogoContainer">
    <div class="ButtonContainer">
      <button>Download Revit Files</button>
      <button>3-Part CSI Spec. Guide</button>
    </div>
    <div class="LogoContainer">
      <img src="../../assets/Franchise/Logo-1.png" class="LogoStyling" alt="" />
      <img src="../../assets/Franchise/Logo-2.png" class="LogoStyling" alt="" />
    </div>
  </div>

  <div class="TextLogoContainer2">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications.
    </p>
    <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div>
  </div>

  <!-- <div class="ProductPageImage" style="padding: 26px">
        <img src="../../assets/Franchise/image-008.png" class="SolidImageOne" />
      </div> -->

  <div class="OuterListContainer">
    <div class="OLCData">
      <h1>Notable Client</h1>
      <div class="ListContainer1">
        <div class="List1">
          <ul>
            <li>Wachovia</li>
            <li>Royal Bank of Canada</li>
            <li>Chicago Children's Museum</li>
            <li>Motorola Solutions</li>
            <li>Wells Fargo</li>
            <li>DoubleTree by Hilton</li>
          </ul>
        </div>
        <div class="List1">
          <ul>
            <li>Standard Bank</li>
            <li>Northwestern Mutual</li>
            <li>KPMG</li>
            <li>Medline Industries, LP.</li>
            <li>Morongo Casino Resort & Spa</li>
            <li>GoodLife Fitness</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="PastProjectContainer">
    <div class="PPCLeft">
      <div class="PPCLeftLogo">
        <img src="../../assets/Franchise/clock.png" alt="" style="width: 40%" />
      </div>
      <div class="PPCLeftText">
        <div>
          <h1>PAST PROJECT</h1>
          <p>
            Be inspired by our past projects and get an impression of the design
            solutions that Meganite® make possible! <br />
            <br />
            <b
              style="
                font-weight: inherit;
                text-decoration: underline;
                color: inherit;
              "
              >Go to Past Project page</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="PPCRight">
      <div class="PPCLeftLogo">
        <img
          src="../../assets/Inspiration-Commercial/Vector-1.png"
          alt=""
          style="width: 40%"
        />
      </div>
      <div class="PPCRightText">
        <div>
          <h1>COLORS FOR NEXT PROJECT</h1>
          <p>
            Browse premium and eco-friendly solid surfaces for your next
            commercial projects. <br />
            <br />
            <b
              style="
                font-weight: inherit;
                text-decoration: underline;
                color: inherit;
              "
              >View all colors >></b
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
