.ProductMainPage {
  margin-top: 65px;
  width: 100%;
  position: absolute;
  height: max-content;
}
.ProductMainPath {
  width: 100%;
  background-color: #f8f8f8;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.ProductPageImage {
  width: 100%;
  // height: 100%;
  position: relative;
  background-color: white;
}
.PPITextContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50%;
  color: white;
  h1 {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
  }
}
.FranchiseTextPortion {
  width: 100%;
  min-height: 400px;
  height: auto;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
.HeadingOne {
  margin: auto;
  width: fit-content;
  width: 45%;

  h1 {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.MainHeading2Container {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
    width: 35%;
  }
}
.MainPara2Container {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    width: fit-content;
    color: #707070;
    width: 80%;
  }
}

.MainHeading3Container {
  height: auto;
  // padding-top: 60px;
  // padding-bottom: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
    width: 50%;
  }
}
.MainPara3Container {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    width: fit-content;
    color: #707070;
    width: 45%;
  }
}

.MainHeading4Container {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
    width: 50%;
  }
  p {
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
  }
}
.MainPara4Container {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    width: fit-content;
    color: #707070;
    width: 47%;
  }
}

.HomeBannerSecondContainer {
  display: flex;
  justify-content: center;
}
.HomeImageSecondContainer {
  position: relative;
}

.TableTypeContainer {
  min-height: 500px;
  height: auto;
  padding-bottom: 100px;
  background-color: white;
  width: 100%;
  padding-top: 100px;
  h1.MainTTHeading {
    margin-bottom: 100px;
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
  }
}
.TTChild {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
.TTCOne {
}
.TTCTwo {
  margin-top: 90px;
}
.TTCThree {
  align-items: flex-start;
  margin-top: 90px;
}
.TTCFour {
  align-items: flex-start;
}
.HPDButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 80px;

  button {
    background-color: #ff1d31;
    color: white;
    height: 37px;
    width: 200px;
    font-size: 18px;
    border: none;
  }
}

.ChildTextContainer {
  width: 65%;
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
  }
}
.ChildLogoContainer {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  img {
    width: 100%;
  }
}

.HPDText {
  margin-left: 50px;
  font-family: "Roboto", sans-serif !important;
  font-size: 18px !important;
  font-style: italic !important;
  font-weight: 400 !important;
  line-height: 48px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #707070 !important;
}

.MainHeading5Container {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding-top: 100px;
  h1 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
    width: fit-content;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
  }
}
.MainPara5Container {
  height: auto;
  padding-top: 85px;
  padding-bottom: 85px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  h1 {
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    width: 40%;
    color: #707070;
  }
}

.ListContainer1 {
  min-height: 150px;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
  padding: 20px;
}
.List1 {
  min-width: 15%;
  width: auto;
  text-align: left;
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #e70000;
    font-weight: bold;
    display: inline-block;
    width: 0.4em;
    // margin-left: -1em;
  }
  li {
    color: #707070;
    font-size: 25px;
    font-weight: 450;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    // line-height: 49px;
    letter-spacing: 0em;
  }
}

.MainHeading6Container {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 100px;
  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #707070;
    width: 70%;
    font-size: 25px;
    text-transform: uppercase;
  }
}

table {
  tr {
    td {
      padding-left: 70px;
      padding-right: 70px;
      color: #aaa7a3;
      font-size: 20px;
    }
  }
}

.RatingProperty {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: right;
  color: #888888;
}

.RatingTableHeading {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  // text-align: right;
  color: #707070;
}

.SecondContainer {
  width: 100%;
  height: fit-content;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  img {
    width: 100%;
  }
}

.HeadingOne1 {
  margin: auto;
  width: fit-content;
  width: fit-content;

  h1 {
    color: #87bdd8;
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.HeadingTwo {
  margin: auto;
  width: 60%;
  margin-top: 80px;

  h1 {
    width: 70%;
    font-weight: 700;
    margin: auto;
    text-align: center;
    line-height: 40px;
    color: #707070;
    font-family: "Roboto", sans-serif;
    word-break: keep-all;
    font-size: 29px;
    letter-spacing: 0em;
  }
  p {
    color: #888888;
    font-size: 25px;
    font-weight: 400;
    // width: 90%;
    margin: auto;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h2.HeadingUpdatedStyle {
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

h2.HeadingUpdatedStyle2 {
  color: #92a8d1;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.GalleryPortion {
  width: 100%;
  min-height: 1000px;
  height: auto;
  background-color: #f8f8f8;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-top: 50px;
  position: relative;
  img {
    position: absolute;
  }
}

.TextLogoContainer {
  width: 100%;
  background-color: white;
  height: auto;
  //   padding-top: 35px;
}
.ButtonContainer {
  height: 150px;
  //   margin-top: 50px;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid #c0c0c0;
    width: 20%;
    height: 37px;
    margin: 20px;
    background-color: transparent;
    color: #707070;
  }
  button:hover {
    border: 1px solid #ff1d31;
    background-color: #ff1d31;
    color: white;
    transition-duration: 0.3s;
  }
}
.LogoContainer {
  height: 450px;
  background-color: white;
  width: 100%;
  //   border: 1px solid black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.TextLogoContainer2 {
  width: 100%;
  background-color: white;
  height: fit-content;
  padding-top: 35px;
  text-align: center;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 600;
  }
  h2 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: italic;
  }
  h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #707070;
    font-size: 24px !important;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: #707070;
    font-size: 22px;
    font-weight: 400;
    width: 55%;
    margin: auto;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
}
.ButtonContainer2 {
  height: 150px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid #e0e0e0;
    width: 20%;
    height: 37px;
    margin: 20px;
    background-color: white;
    color: #707070;
  }
  button:hover {
    border: 1px solid #ff1d31;
    background-color: #ff1d31;
    color: white;
    transition-duration: 0.3s;
  }
}

.OuterListContainer {
  padding-top: 85px;
  padding-bottom: 100px;
  width: 100%;
  background-color: white;
  height: fit-content;
}
.OLCData {
  height: auto;
  text-align: center;
  background-color: white;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: italic;
    color: #92a8d1;
    width: 50%;
    margin: auto;
  }
}

.ListContainer1 {
  min-height: 150px;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  // margin-top: 95px;
}
.List1 {
  min-width: 25%;
  width: auto;
  text-align: left;
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #92a8d1;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    // margin-left: -1em;
  }
  li {
    color: #707070;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.NotableClientContainer {
  padding-top: 85px;
  padding-bottom: 100px;
  width: 100%;
  background-color: white;
  height: fit-content;
}
.NCCData {
  height: 250px;
  text-align: center;
  background-color: white;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: italic;
    color: #92a8d1;
  }
}

.ListContainer {
  min-height: 150px;
  height: auto;
  width: 100%;
  //   border: 1px solid grey;
  margin: auto;
  display: flex;
  justify-content: center;
  //   align-items: center;
  padding: 20px;
}
.List {
  min-width: 15%;
  width: auto;
  text-align: left;
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #92a8d1;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    // margin-left: -1em;
  }
  li {
    color: #707070;
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 10px;
  }
}

.PastProjectContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.LogoStyling {
  width: auto;
  margin: 70px;
}
.PPCLeft {
  width: 50%;
  height: 100%;
  background-color: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition-duration: 0.3s;
  color: #707070;
}
.PPCLeft:hover {
  color: #ff1d31;
  transition-duration: 0.3s;
}
.PPCLeftLogo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 60px;
    color: inherit;
  }
}
.PPCLeftText {
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  h1 {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #707070;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    width: 100%;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  b {
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
}
.PPCRight {
  width: 50%;
  height: 100%;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition-duration: 0.3s;
  color: #707070;
}
.PPCRight:hover {
  color: #ff1d31;
  transition-duration: 0.3s;
}

.PPCRightText {
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  h1 {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #707070;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    width: 100%;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  b {
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
}

.SolidImageOne {
  width: 100%;
  height: auto;
}
.ProductPageImage2 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 40px;
  background-color: #f8f8f8;
}
.LeftImage {
  padding: 30px;
  width: 50%;
  position: relative;
}
.RightImage {
  padding: 30px;
  width: 50%;
}

.BacteriaStandardContainer {
  height: auto;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.BSCLeft {
  width: 46%;
  height: 550px;
  // border: 0.5px solid black;
  position: relative;
  padding-right: 50px;
  text-align: left;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
  }
  p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.LearnMoreContainer {
  width: 100%;
  height: 20%;
  margin-top: 30px;
  b {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
  }
}

.StandardsImageContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.BSCRight {
  width: 46%;
  height: 550px;
  position: relative;
  // border: 0.5px solid black;
  border-left: 8px solid #ff1d31;
  padding-left: 40px;
  h1 {
    color: #ff1d31;
    margin-top: 0px;
    font-size: 68px;
    font-weight: 400;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff1d31;
  }
}

.BacteriaList {
  margin-top: 40px;
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
    text-decoration: underline;
    margin: 0px;
  }
}

.DisclaimerContainer {
  position: absolute;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #707070;
}
.HBDStyle {
  width: 80% !important;
}
.ThinLine {
  display: inline-block;
  font-size: 18px;
  font-weight: inherit;
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .MainPara3Container {
    h1 {
      width: 53%;
    }
  }
  .MainPara4Container {
    h1 {
      width: 56%;
    }
  }
}
@media screen and (max-width: 1100px) {
  .PPITextContainer {
    h1 {
      font-size: 30px;
    }
  }
  .HeadingOne {
    width: 65%;
  }
  .MainHeading2Container {
    h1 {
      width: 55%;
    }
  }
  .ChildLogoContainer {
    width: 18%;
  }
}
@media screen and (max-width: 1000px) {
  .MainPara3Container {
    h1 {
      width: 63%;
    }
  }
  .MainPara4Container {
    h1 {
      width: 67%;
    }
  }
  .PastProjectContainer {
    height: fit-content;
  }
  .TextContainer {
    width: 76%;
  }
  .PPCLeft {
    width: 100%;
    height: 250px;
  }
  .PPCRight {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 850px) {
  .TextLogoContainer2 {
    P {
      width: 85%;
    }
  }
  .ButtonContainer2 {
    button {
      width: 40%;
    }
  }
  .LogoContainer {
    height: auto;
  }
  .LogoStyling {
    margin: 7%;
  }
  .ThinLine {
    // display: inline-block;
    font-size: 15px;
  }
  .ButtonContainer {
    button {
      width: 30%;
    }
  }
  .List1 {
    li {
      color: #707070;
      font-size: 18px;
      font-weight: 450;
      font-family: "Roboto", sans-serif;
      margin: 10px;
      // line-height: 49px;
      letter-spacing: 0em;
    }
  }
  .MainPara5Container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .MainHeading5Container {
    h1 {
      font-size: 21px;
      font-style: italic;
      font-weight: 500;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .HBDStyle {
    width: 90% !important;
  }
  .TTChild {
    width: 90%;
  }
  .ChildLogoContainer {
    width: 17%;
  }
  .ChildTextContainer {
    h1 {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .MainHeading4Container {
    h1 {
      margin-top: 30px;
    }
  }
  .MainPara4Container {
    padding-bottom: 80px;
  }
  .SecondContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .MainHeading2Container {
    h1 {
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      width: 75%;
    }
  }
  .HeadingOne {
    width: 75%;
    h1 {
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .PPITextContainer {
    h1 {
      font-size: 26px;
    }
  }
  .ProductPageImage2 {
    flex-wrap: wrap;
  }
  .LeftImage {
    width: 100%;
  }
  .RightImage {
    width: 100%;
  }
  .MainTextContainer {
    padding-bottom: 100px !important;
  }

  .TextContainer {
    width: 86%;
  }
  .MainImage {
    margin: 0;
    position: relative;
    top: 0;
    transform: translate(10px, 10px);
  }
}
@media screen and (max-width: 750px) {
  .ListContainer1 {
    flex-wrap: wrap;
  }
  .List1 {
    width: 90%;
  }
  .MainHeading2Container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 750px) {
  .MainHeading3Container {
    h1 {
      font-size: 28px;
      width: 60%;
    }
  }
  .MainHeading4Container {
    h1 {
      font-size: 28px;
      width: 60%;
    }
  }
  .MainPara3Container {
    h1 {
      width: 80%;
      font-size: 23px;
    }
  }
  .MainPara4Container {
    h1 {
      width: 75%;
      font-size: 23px;
    }
  }
  .ButtonContainer2 {
    button {
      width: 40%;
    }
  }
  .LogoStyling {
    margin: 7%;
    width: 25%;
  }
  .TextLogoContainer2 {
    h1 {
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .MainHeading5Container {
    h1 {
      font-size: 21px;
      font-style: italic;
      font-weight: 500;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: center;
      width: 90%;
    }
  }
}

@media screen and (max-width: 600px) {
  .ButtonContainer {
    height: 200px;
    button {
      width: 60%;
    }
  }
  .ButtonContainer2 {
    height: 200px;
    button {
      width: 60%;
    }
  }
  .List1 {
    margin: 0px;
  }
  .HomeBannerSecondContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .HomeImageSecondContainer {
    width: 100%;
  }
  .SolidImageOne {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .PPITextContainer {
    h1 {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 500px) {
  .PPCLeftLogo {
    display: none;
    visibility: hidden;
  }
  .PPCLeftText {
    width: 90%;
  }
  .PPCRightText {
    width: 90%;
  }

  .HeadingOne {
    width: 90%;
  }
  .MainPara2Container {
    h1 {
      font-size: 24px;
    }
  }
  .MainHeading3Container {
    h1 {
      font-size: 28px;
      width: 70%;
    }
  }
  .MainHeading4Container {
    h1 {
      font-size: 28px;
      width: 70%;
    }
  }
  .MainPara3Container {
    h1 {
      width: 80%;
      font-size: 21px;
    }
  }
  .MainPara4Container {
    h1 {
      width: 80%;
      font-size: 21px;
    }
  }
  .TextLogoContainer2 {
    h1 {
      font-size: 30px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 18px !important;
    }
  }
  .PPCLeftText {
    h1 {
      font-size: 21px;
    }
    p {
      font-size: 16px;
    }
  }
  .PPCRightText {
    h1 {
      font-size: 21px;
    }
    p {
      font-size: 16px;
    }
  }
  .TableTypeContainer {
    h1.MainTTHeading {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 450px) {
  .List1 {
    li {
      color: #707070;
      font-size: 16px;
      margin: 0px !important;
    }
  }
  .ChildTextContainer {
    h1 {
      font-size: 16px;
    }
  }
  .TTChild {
    width: 100%;
  }
  .ChildLogoContainer {
    width: 25%;
  }
  .MainHeading2Container {
    h1 {
      font-size: 26px;
    }
  }
  .MainHeading3Container {
    h1 {
      font-size: 26px;
    }
  }
  .MainHeading4Container {
    h1 {
      font-size: 26px;
    }
  }
  .MainHeading5Container {
    h1 {
      font-size: 26px;
    }
  }
}
