<app-header></app-header>
<router-outlet></router-outlet>

<div id="popup1" [ngClass]="this.global.showPopup ? 'overlay show' : 'overlay'">
  <div class="popup">
    <h2>Select Your Language</h2>
    <a
      class="close"
      (click)="this.global.showPopup = !this.global.showPopup"
      style="cursor: pointer"
      >&times;</a
    >
    <div class="content">
      <div class="countryContainer">
        <h6>North America</h6>
        <p>
          <img src="https://img.icons8.com/color/50/000000/usa-circular.png" />
          English
        </p>
        <p>
          <img
            src="https://img.icons8.com/color/48/000000/spain2-circular.png"
          />
          Spanish
        </p>

        <p>
          <img
            src="https://img.icons8.com/color/48/000000/france-circular.png"
          />
          French
        </p>
      </div>
      <div class="countryContainer">
        <h6>Europe</h6>
        <p>
          <img src="https://img.icons8.com/color/50/000000/usa-circular.png" />
          English
        </p>
        <p>
          <img
            src="https://img.icons8.com/color/48/000000/spain2-circular.png"
          />
          Spanish
        </p>

        <p>
          <img
            src="https://img.icons8.com/color/48/000000/germany-circular.png"
          />
          Germany
        </p>
      </div>
      <div class="countryContainer">
        <h6>Asia Pacific</h6>
        <p>
          <img
            src="https://img.icons8.com/color/48/000000/thailand-circular.png"
          />
          ZH-TW
        </p>
        <p>
          <img
            src="https://img.icons8.com/color/48/000000/china-circular.png"
          />
          ZH-CH
        </p>
      </div>
    </div>
  </div>
</div>
