<div class="NewsMainContainer">
  <div
    style="
      width: 100%;
      height: 50px;
      background-color: #e5e5e5;
      margin-top: -10px;
    "
  >
    <h1 class="megnatiteNews">Meganite News</h1>
  </div>
  <div class="NewsBannerSecondContainer">
    <div class="NewsImageSecondContainer">
      <img
        src="../../assets/News-Banner-1.png"
        alt=""
        style="width: 100%; height: auto"
        class="bannerImageNews"
      />
    </div>
    <div class="NewsImageSecondContainer2">
      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="NewsCard">
        <img src="../../assets/news.png" alt="" style="width: 100%" />
        <h4>MAGNITE AT ARCHITECT & DESIGN</h4>
        <b>30 Sept 2021</b>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="loadMoreContainer">
        <button class="loadMoreButton">
          <fa-icon
            [icon]="faAngleDown"
            style="font-size: 17px; color: grey; float: left"
          ></fa-icon
          >Load More<fa-icon
            [icon]="faAngleDown"
            style="font-size: 17px; color: grey; float: right"
          ></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
