<div class="FooterContainer show">
  <div class="LinkContainer">
    <div class="AboutLinkContainer">
      <a>About</a>
      <b style="margin-top: 10px"></b>
      <b>News</b>
      <b>Meganite</b>
      <b></b>
    </div>
    <div class="ConnectLinkContainer">
      <a>Connect</a>
      <b style="margin-top: 10px"></b>
      <b>Facebook</b>
      <b>Instagram</b>
      <b>Linkedin</b>
    </div>
  </div>
  <div class="subscribeContainer">
    <div class="InputContainer">
      <a>Subscribe To Our News Letter</a>
      <input type="text" class="InputStyling" />
      <button class="subscribeButton">></button>
    </div>
  </div>
</div>
<div class="FooterContainer hide">
  <div class="subscribeContainer">
    <div class="InputContainer">
      <a>Subscribe To Our News Letter</a>
      <input type="text" class="InputStyling" />
      <button class="subscribeButton">></button>
    </div>
  </div>
  <div class="LinkContainer">
    <div class="AboutLinkContainer" (click)="toggleAbout()">
      <a class="footerDropdown"
        >About<fa-icon
          *ngIf="!showAbout"
          [icon]="faAngleRight"
          style="font-size: 16px; color: grey; float: right"
        ></fa-icon>
        <fa-icon
          *ngIf="showAbout"
          [icon]="faAngleDown"
          style="font-size: 16px; color: grey; float: right"
        ></fa-icon>
      </a>
      <div
        *ngIf="showAbout"
        [ngClass]="showAbout ? 'slide-in-top' : ''"
        style="margin-top: 10px"
      >
        <b>News</b>
        <b>Meganite</b>
      </div>
    </div>
    <div class="ConnectLinkContainer" (click)="toggleConnect()">
      <a class="footerDropdown"
        >Connect<fa-icon
          *ngIf="!showConnect"
          [icon]="faAngleRight"
          style="font-size: 16px; color: grey; float: right"
        ></fa-icon>
        <fa-icon
          [icon]="faAngleDown"
          *ngIf="showConnect"
          style="font-size: 16px; color: grey; float: right"
        ></fa-icon>
      </a>
      <div
        *ngIf="showConnect"
        [ngClass]="showConnect ? 'slide-in-top' : ''"
        style="margin-top: 10px"
      >
        <b>Facebook</b>
        <b>Instagram</b>
        <b>Linkedin</b>
      </div>
    </div>
  </div>
</div>
