<div class="FooterContainer">
  <div class="LinkContainer">
    <div class="AboutLinkContainer">
      <a>About</a>
      <b style="margin-top: 10px"></b>
      <b>News</b>
      <b>Meganite</b>
      <b></b>
    </div>
    <div class="ConnectLinkContainer">
      <a>Connect</a>
      <b style="margin-top: 10px"></b>
      <b>Facebook</b>
      <b>Instagram</b>
      <b>Linkedin</b>
    </div>
  </div>
  <div class="subscribeContainer">
    <div class="InputContainer">
      <a>Subscribe To Our News Letter</a>
      <input type="text" class="InputStyling" />
      <button class="subscribeButton">></button>
    </div>
  </div>
</div>
