<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Specification / Technical Documents</div>

  <div class="ProductPageImage">
    <div
      style="
        height: 100%;
        width: 100%;
        background-color: #00000073;
        position: absolute;
      "
    ></div>
    <img
      src="../../assets/Specification-Tech/Meganite_Solid Surface_Surfacing Material_Hygienic_pure acrylic_interior design_countertops_best countertops9 2 (1).png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer">
      <h1>TECHNICAL DOCUMENT</h1>
    </div>
    <div class="PPITag">
      <div>
        <h1></h1>
      </div>
      <div>
        <p>Meganite ®</p>
      </div>
    </div>
  </div>

  <div class="SpecTechMainPage">
    <div class="SpecTool">
      <h1>SPECIFICATION TOOLS</h1>
    </div>
    <div class="">
      <div
        class="RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Solid Surface - 3 - Part CSI Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Wall Facing - 3 - Part CSI Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Product Overview<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Solid Surface_Revit / BIM Files Download<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Sinks & Basins_Revit / BIM Files Download<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® FAQ<fa-icon [icon]="Right" class="DropIcon"></fa-icon
            ></a>
            <a
              >AcryMed FAQ<fa-icon [icon]="Right" class="DropIcon"></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="SpecTool">
      <h1>DOWNLOAD FILES</h1>
    </div>
    <div class="">
      <div
        class="RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Solid Surface_Revit / BIM Files Download<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Sinks & Basins_Revit / BIM Files Download<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="SpecTool">
      <h1>BROCHURES</h1>
    </div>
    <div class="DualContainer">
      <div
        class="RightContainer RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Enhanced Antimicrobial Surface (AcryMed)<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in AcryMed for all applications<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® Movement Series<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® True Terrazzo Series<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® Sinks & Basins<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in Commercial<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>

      <div
        class="RightContainer RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Meganite ® in Food Services<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in Education<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in Retail<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in Residential<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite ® in Travel<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="SpecTool">
      <h1>TECHNICAL INFORMATION</h1>
    </div>
    <div class="DualContainer">
      <div
        class="RightContainer RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Care and Maintenance<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Material Safety Data Sheet<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Health Product Declaration<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Chemical Resistance<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Color Resistance to UV<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >AcryMed SGS Test Report<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Fabrication Manual<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Edge Profile Options<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Sparkle Series Fabrication Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Trough Sink Wall-Mount Clean & Maintenance Video<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <!-- <a
              >Color Resistance to UV<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a> -->
          </div>
        </div>
      </div>

      <div
        class="RightContainer RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Shell Series Fabrication Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a>Adhesive<fa-icon [icon]="Right" class="DropIcon"></fa-icon></a>
            <a
              >Sustainable Design & LEED V4<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Trough Sink Care & Maintenance Video<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Translucent Color Care & Fabrication Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>

            <a
              >General Thermoforming Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Movement Series Fabrication Guide<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Sill Solutions<fa-icon [icon]="Right" class="DropIcon"></fa-icon
            ></a>
            <a
              >Bright, Vibrant & Dark Solid Color
              <fa-icon [icon]="Right" class="DropIcon"></fa-icon
            ></a>

            <a
              >Fabrication Recommendations<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="SpecTool">
      <h1>CERTIFICATION</h1>
    </div>
    <div class="" style="padding-bottom: 90px">
      <div
        class="RightImage MainTextContainer DetailTextContainer"
        style="background-color: white"
      >
        <div class="TextContainer">
          <div>
            <a
              >Meganite® GreenGuard<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite® GreenGuard Gold<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
            <a
              >Meganite® Recycle Content (SCS)<fa-icon
                [icon]="Right"
                class="DropIcon"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="ButtonContainer2">
    <button>MAKE YOUR REQUEST</button>
  </div> -->
  <div class="MovementSeriesContainer">
    <img
      src="../../assets/Specification-Tech/424A-Large Size 2.png"
      style="width: 100%; height: auto"
    />
    <div class="MSCTextContainer">
      <h1>Interested in specifying Meganite in your next project ?</h1>
      <button>CONTACT US</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
