<!-- <div class="HomeMainContainer"> -->
<div class="HomeBannerFirstImage">
  <img
    src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_3 1.png"
    style="width: 100%; height: auto"
    alt=""
    class="mainHomeImageResponsive"
  />

  <div
    class="HomeTextFirstContainer wow animate__animated animate__fadeInDown animate__slower"
  >
    <h1>RESIDENTIAL SPACES</h1>
    <h4>CASE STUDY - RESIDENTIAL SPACES</h4>
  </div>
</div>

<div class="NewPageTextContainer">
  <div class="NewPageTextArea">
    <p>
      Meganite’s solid surface solutions have evolved from being mere functional
      home additions to leading the design of residential spaces. The owner of
      this home has chosen our award-winning M007 – Mt. Carrara marble-inspired
      look to transform and enhance their space, with the material’s combination
      of practical solid surface properties and elegant designer appeal.
      Meganite’s essential properties offer the opportunity to gain a superior,
      luxury home lifestyle.
    </p>
  </div>
</div>

<div class="ImageContainerOne">
  <img
    src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_7 1.png"
    alt=""
  />
</div>

<div class="TextContainerTwo">
  <h2>THE BENEFITS OF THE MEGANITE SOLUTION</h2>
  <h3>
    “ The choice of Mt. Carrara from our Movement Series offered the homeowner
    the luxury of marble design without the hassle of real marble. “
  </h3>
</div>

<div class="ImageContainerTwo2">
  <div class="DualImage">
    <img
      src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_11 1.png"
      alt=""
    />
    <img
      src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_9 1.png"
      alt=""
    />
  </div>
  <div class="SingleImage">
    <img
      src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_10 1.png"
      alt=""
      srcset=""
    />
  </div>
</div>

<div class="NewPageTextContainer">
  <div class="NewPageTextArea">
    <p>
      Meganite is a non-porous material which limits bacteria growth and makes
      the hygienic kitchen and bathroom spaces easy to clean. It also boasts an
      NSF/ANSI Standard 51 certification for food contact which made it a safe
      and ideal material for the kitchen countertops and the food preparation
      area. The material’s Thermoformable properties enabled the crafting of
      marble inspired furniture such as the vinyl record player, which fits
      perfectly with the other materials utilized in the home’s interior design.
      The durable and easy to clean material was also perfect for high traffic
      areas like the kitchen island which require extra care.
    </p>
  </div>
</div>

<div class="ImageContainerTwo">
  <img
    src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_1 2.png"
    alt=""
  />
</div>

<!-- <div style="width: 100%; background-color: white; padding-bottom: 100px">
  <div class="DownloadBrochureContainer">
    <button class="DownloadBrochure">Download Brochure</button>
  </div>
</div>

<div class="MovementSeriesContainer">
  <img
    src="../../assets/Project-Indiviual/M007_Home design_residential design_solidsurface_countertop_kitchen island_wall cladding_1 2.png"
    style="width: 100%; height: auto"
  />
  <div class="MSCTextContainer">
    <h1>Interested in specifying Meganite in your next project ?</h1>
    <button>CONTACT US</button>
  </div>
</div> -->

<!-- <div style="position: relative">
  <owl-carousel-o [options]="customOptions" style="margin-top: 200px">
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>MT.CARRAR</b>
        </div>
      </div>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>MT.CARRAR</b>
        </div>
      </div>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>MT.CARRAR</b>
        </div>
      </div>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>MT.CARRAR</b>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div> -->

<div class="OwlCarouselContainer">
  <h2>Related Project</h2>
  <owl-carousel-o
    [options]="customOptions"
    style="margin-top: 200px; margin-left: 10px; margin-right: 10px"
  >
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b
            >THE FORGOTTEN DESIGN IS BACK, AND BETTER THAN EVER – TRUE TERRAZZO
            SERIES</b
          >
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>SIMPLE LIVING BRIMMING WITH STYLE</b>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>Everyday Essentials for Your Bathroom</b>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>High-end Villa Remodeling</b>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>SIMPLE LIVING BRIMMING WITH STYLE</b>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img
          src="../../assets/Project-Indiviual/Screen Shot 2021-11-16 at 17.03 1.png"
          alt=""
        />
        <div>
          <br />
          <b>SIMPLE LIVING BRIMMING WITH STYLE</b>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

  <app-footer></app-footer>
</div>
