<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Franchise</div>

  <div class="ProductPageImage">
    <img src="../../assets/Franchise/main-image.png" class="SolidImageOne" />
    <div class="PPITextContainer">
      <h1>For Your Franchise System</h1>
    </div>
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">Design & Bidding Phase</h1>
    </div>

    <div class="HeadingTwo" style="margin-top: 110px">
      <h1>
        <span class="alphabet">A</span><br />MANAGE FRANCHISE<br />EXPANSION
      </h1>
      <p>
        A dedicated team that works with you and with your franchisees directly.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>
        <span class="alphabet">B</span><br />EXTENSIVE COLORS<br />IN-STOCK
      </h1>
      <p>
        Meganite's extensive global network, we provide product support on both
        national and global level so that the colors that you selected will not
        be discontinued or unavailable when you need them.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>
        <span class="alphabet">C</span><br />COMPETITIVE<br />BUNDLE PRICING
      </h1>
      <p>
        Available in both solid surface sheets and sinks. Meganite provides
        surfacing solution for more than one application. Discounts for high
        volume quantities and for multiple material specs.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>
        <span class="alphabet">D</span><br />LOCAL & GLOBAL<br />SUPPORT NETWORK
      </h1>
      <p>
        Local/global service and on time delivery to meet your demanding
        building schedules.
      </p>
    </div>
  </div>

  <div class="ProductPageImage2">
    <div class="LeftImage">
      <img src="../../assets/Franchise/image-002.png" style="width: 100%" />
    </div>
    <div class="RightImage">
      <img src="../../assets/Franchise/image-003.png" style="width: 100%" />
    </div>
  </div>

  <div class="ProductPageImage hide" style="padding: 26px">
    <img src="../../assets/Franchise/image-004.png" class="SolidImageOne" />
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">Operation Phase</h1>
    </div>

    <div class="HeadingTwo" style="margin-top: 110px">
      <h1><span class="alphabet">A</span><br />MODULAR DESIGN<br />SYSTEM</h1>
      <p>
        Meganite solid surface is light weight and easily fabricated to be built
        on a modular system.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>
        <span class="alphabet">B</span><br />REPAIRABLE & EASE<br />OF
        MAINTENANCE
      </h1>
      <p>
        Surface can be repaired at store-site with minimal tools. Store
        close-down hours are reduced for maintenance.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1><span class="alphabet">C</span><br />TOUGH<br />BUNDLE PRICING</h1>
      <p>
        Durable and tough, the surface will not delaminate over time Thus,
        reduce surface maintenance frequency and repair cost that might incur.
      </p>
    </div>
  </div>

  <div class="GalleryPortion hide">
    <img
      src="../../assets/Franchise/image-007.png"
      width="30%"
      style="width: 37%; position: absolute; right: 0%; bottom: 85px"
    />
    <img
      src="../../assets/Franchise/image-005.png"
      style="width: 50%; top: 45px"
    />
    <img
      src="../../assets/Franchise/image-006.png"
      style="width: 32vw; position: absolute; left: 34%; bottom: 54px"
    />
  </div>

  <div class="TextLogoContainer">
    <div class="ButtonContainer">
      <button>Download Revit Files</button>
      <button>3-Part CSI Spec. Guide</button>
    </div>
    <div class="LogoContainer">
      <img src="../../assets/Franchise/Logo-1.png" class="LogoStyling" alt="" />
      <img src="../../assets/Franchise/Logo-2.png" class="LogoStyling" alt="" />
    </div>
  </div>

  <div class="TextLogoContainer2">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications.
    </p>
    <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div>
  </div>

  <div class="ProductPageImage" style="padding: 26px">
    <img src="../../assets/Franchise/image-008.png" class="SolidImageOne" />
  </div>

  <div class="NotableClientContainer">
    <div class="NCCData">
      <h1>Notable Client</h1>
      <div class="ListContainer showDesktop">
        <div class="List">
          <ul>
            <li>Claire's</li>
            <li>Simon</li>
            <li>Sparks</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>Nissan</li>
            <li>BMW</li>
            <li>Apple</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>idx</li>
            <li>MCM</li>
            <li>Thorntons</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>Verizon Wireless</li>
            <li>Walgreens</li>
            <li>Pizza Hut</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>Burger King</li>
            <li>KFC</li>
          </ul>
        </div>
      </div>

      <div class="ListContainer showMobile">
        <div class="List">
          <ul>
            <li>Claire's</li>
            <li>Simon</li>
            <li>Sparks</li>
            <li>Verizon Wireless</li>
            <li>Walgreens</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>Nissan</li>
            <li>BMW</li>
            <li>Apple</li>
            <li>Burger King</li>
            <li>KFC</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>idx</li>
            <li>MCM</li>
            <li>Thorntons</li>
            <li>Pizza Hut</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="PastProjectContainer">
    <div class="PPCLeft">
      <div class="PPCLeftLogo">
        <img src="../../assets/Franchise/clock.png" alt="" style="width: 40%" />
      </div>
      <div class="PPCLeftText">
        <div>
          <h1>PAST PROJECT</h1>
          <p>
            <b
              style="
                font-weight: inherit;
                text-decoration: underline;
                color: inherit;
              "
              >Go to Past Project page</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="PPCRight">
      <div class="PPCRightText">
        > Be inspired by our past projects and get an impression of the design
        solutions that Meganite® make possible !
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
