.ProductMainPage {
  margin-top: 65px;
  width: 100%;
  position: absolute;
  height: max-content;
}
.ProductMainPath {
  width: 100%;
  background-color: #f8f8f8;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
sup {
  top: -0.2em;
  left: 0.3rem;
}
.ProductFilter {
  width: 100%;
  color: black;
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.FilterDropdown {
  width: 33%;
  height: 100%;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}
.FD-1 {
  background-color: #ececec;
}
.FD-2 {
  background-color: #f1f1f1;
}
.FD-3 {
  background-color: #f5f5f5;
}
.ProductPageImage {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}
.PPITextContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 45%;
  color: white;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
  }
}
.FranchiseTextPortion {
  width: 100%;
  min-height: 500px;
  height: auto;
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
.HeadingOne {
  margin: auto;
  width: fit-content;
  width: 40%;

  h1 {
    font-size: 25px;
    font-family: 500;
    line-height: 45px;
    color: #707070;
    font-family: "Roboto", sans-serif;
  }
}

.SecondContainer {
  width: 100%;
  height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  img {
    width: 100%;
  }
}

.HeadingOne1 {
  margin: auto;
  width: fit-content;
  width: fit-content;

  h1 {
    color: #87bdd8;
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.HeadingTwo {
  margin: auto;
  width: 60%;
  margin-top: 80px;

  h1 {
    width: 70%;
    font-weight: 700;
    margin: auto;
    text-align: center;
    line-height: 40px;
    color: #707070;
    font-family: "Roboto", sans-serif;
    word-break: keep-all;
    font-size: 29px;
    letter-spacing: 0em;
  }
  p {
    color: #888888;
    font-size: 25px;
    font-weight: 400;
    // width: 90%;
    margin: auto;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h2.HeadingUpdatedStyle {
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

h2.HeadingUpdatedStyle2 {
  color: #92a8d1;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.GalleryPortion {
  width: 100%;
  height: fit-content;
  background-color: #f8f8f8;
  padding: 4.2%;
  padding-top: 75%;
  position: relative;
  img {
    position: absolute;
  }
}

.TextLogoContainer {
  width: 100%;
  background-color: white;
  height: auto;
  padding-top: 35px;
}
.ButtonContainer {
  height: 150px;
  background-color: rgba(135, 189, 216, 0.08);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid #c0c0c0;
    width: 20%;
    height: 37px;
    margin: 20px;
    background-color: transparent;
    color: #707070;
  }
}
.LogoContainer {
  height: 450px;
  background-color: white;
  width: 100%;
  //   border: 1px solid black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.TextLogoContainer2 {
  width: 100%;
  background-color: white;
  height: fit-content;
  padding-top: 35px;
  text-align: center;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 600;
  }
  h2 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: italic;
  }
  h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #707070;
    font-size: 24px !important;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: #707070;
    font-size: 22px;
    font-weight: 400;
    width: 55%;
    margin: auto;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
}
.ButtonContainer2 {
  height: 150px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid #e0e0e0;
    width: 20%;
    height: 37px;
    margin: 20px;
    background-color: white;
    color: #707070;
  }
}

.OuterListContainer {
  padding-top: 85px;
  padding-bottom: 100px;
  width: 100%;
  background-color: white;
  height: fit-content;
}
.OLCData {
  height: auto;
  text-align: center;
  background-color: white;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: italic;
    color: #92a8d1;
    width: 50%;
    margin: auto;
  }
}

.ListContainer1 {
  min-height: 150px;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 95px;
}
.List1 {
  min-width: 15%;
  width: auto;
  text-align: left;
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #92a8d1;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    // margin-left: -1em;
  }
  li {
    color: #707070;
    font-size: 25px;
    font-weight: 450;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    // line-height: 49px;
    letter-spacing: 0em;
  }
}

.NotableClientContainer {
  padding-top: 85px;
  padding-bottom: 100px;
  width: 100%;
  background-color: white;
  height: fit-content;
}
.NCCData {
  height: 250px;
  text-align: center;
  background-color: white;
  h1 {
    font-size: 36px !important;
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: italic;
    color: #92a8d1;
  }
}

.ListContainer {
  min-height: 150px;
  height: auto;
  width: 100%;
  //   border: 1px solid grey;
  margin: auto;
  display: flex;
  justify-content: center;
  //   align-items: center;
  padding: 20px;
}
.List {
  min-width: 15%;
  width: auto;
  text-align: left;
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #92a8d1;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    // margin-left: -1em;
  }
  li {
    color: #707070;
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 10px;
  }
}

.PastProjectContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.PPCLeft {
  width: 50%;
  height: 100%;
  background-color: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.PPCLeftLogo {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PPCLeftText {
  width: 75%;
  height: 100%;
  align-items: center;
  margin-left: 30px;
  // justify-content: center;
  display: flex;
  flex-wrap: wrap;
  h1 {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #707070;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    width: 100%;
    font-family: "Roboto", sans-serif;
    // margin-bottom: 0px;
  }
  b {
    color: #707070;
  }
}
.PPCRight {
  width: 50%;
  height: 100%;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.PPCRightText {
  width: 80%;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  font-family: "Roboto", sans-serif;
}

.SolidImageOne {
  width: 100%;
  height: auto;
}
.ProductPageImage2 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 40px;
  background-color: #f8f8f8;
}
.LeftImage {
  padding: 30px;
  width: 50%;
  position: relative;
}
.RightImage {
  padding: 30px;
  width: 50%;
}

.BacteriaStandardContainer {
  height: auto;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.BSCLeft {
  width: 46%;
  height: 550px;
  // border: 0.5px solid black;
  position: relative;
  padding-right: 50px;
  text-align: left;
  h1 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
  }
  p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.LearnMoreContainer {
  width: 100%;
  height: 20%;
  margin-top: 30px;
  b {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
  }
}

.StandardsImageContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.BSCRight {
  width: 46%;
  height: 550px;
  position: relative;
  // border: 0.5px solid black;
  border-left: 8px solid #ff1d31;
  padding-left: 40px;
  h1 {
    color: #ff1d31;
    margin-top: 0px;
    font-size: 68px;
    font-weight: 350;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff1d31;
  }
}

.BacteriaList {
  margin-top: 40px;
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
    text-decoration: underline;
    margin: 0px;
  }
}

.DisclaimerContainer {
  position: absolute;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #707070;
}

.LogoStyling {
  width: auto;
  margin: 70px;
}

.showOnDesktop {
  display: flex;
  visibility: visible;
}
.showOnMobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1100px) {
  .PPITextContainer {
    h1 {
      font-size: 34px;
    }
  }

  .HeadingOne {
    width: 60%;
    h1 {
      font-size: 24px;
    }
  }

  .HeadingOne1 {
    width: 80%;
    h1 {
      font-size: 34px;
      text-align: center;
    }
  }
  .HeadingTwo {
    p {
      font-size: 23px;
    }
  }

  .List {
    li {
      font-size: 23px;
    }
  }
  .List1 {
    li {
      font-size: 23px;
    }
  }
  h2.HeadingUpdatedStyle {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .PPCLeft {
    width: 100%;
    height: 200px;
  }
  .PPCRight {
    width: 100%;
    height: 200px;
  }
  .PastProjectContainer {
    height: fit-content;
  }
  .TextContainer {
    width: 76%;
  }
  h2.HeadingUpdatedStyle {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .StandardsImageContainer {
    width: auto;
  }
}

@media screen and (max-width: 850px) {
  .LogoStyling {
    margin: 7%;
  }
  .PPITextContainer {
    h1 {
      font-size: 32px;
      width: 70%;
      margin: auto;
    }
  }
  .TextLogoContainer2 {
    P {
      width: 85%;
    }
  }
  .HeadingOne {
    width: 60%;
    h1 {
      font-size: 22px;
    }
  }

  .HeadingOne1 {
    width: 80%;
    h1 {
      font-size: 32px;
      text-align: center;
    }
  }
  .HeadingTwo {
    p {
      font-size: 20px;
    }
  }

  .List {
    li {
      font-size: 20px;
    }
  }
  .List1 {
    li {
      font-size: 20px;
    }
  }
  h2.HeadingUpdatedStyle {
    text-align: center;
  }
  .SolidImageOne {
    height: 500px;
    object-fit: cover;
  }
  .ProductPageImage2 {
    flex-wrap: wrap;
  }
  .LeftImage {
    width: 100%;
  }
  .RightImage {
    width: 100%;
  }
  .MainTextContainer {
    padding-bottom: 100px !important;
  }

  .TextContainer {
    width: 86%;
  }
  .MainImage {
    margin: 0;
    position: relative;
    top: 0;
    transform: translate(10px, 10px);
  }
  .BacteriaStandardContainer {
    padding: 0px;
    padding-top: 0px;
  }
  .BSCLeft {
    width: 65%;
    height: 480px;
    padding-right: 0px;
    h1 {
      font-size: 34px;
      margin-top: 60px;
    }
    p {
      font-size: 16px;
    }
  }
  .BSCRight {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 80px;
    h1 {
      font-size: 68px;
    }
    h2 {
      font-size: 26px;
    }
  }
  .ButtonContainer {
    button {
      border: 1px solid #c0c0c0;
      width: 40%;
      height: 37px;
      margin: 20px;
      background-color: transparent;
      color: #707070;
    }
    button:hover {
      border: 1px solid #ff1d31;
      background-color: #ff1d31;
      color: white;
      transition-duration: 0.3s;
    }
  }
  .ButtonContainer2 {
    button {
      width: 40%;
    }
  }
}
@media screen and (max-width: 750px) {
  .TextLogoContainer2 {
    h1 {
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .LogoStyling {
    margin: 7%;
    width: 25%;
  }
  .ButtonContainer2 {
    button {
      width: 40%;
    }
  }
  .LogoContainer {
    height: fit-content;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 650px) {
  .PPCLeft {
    width: 100%;
    height: 150px;
  }
  .GalleryPortion {
    display: none;
    visibility: hidden;
  }
  .TextLogoContainer {
    padding: 0px;
  }
  .ButtonContainer {
    margin-top: 0px;
  }
  .showOnMobile {
    display: block;
    visibility: visible;
  }
  .showOnDesktop {
    display: none;
    visibility: hidden;
  }
  .OLCData {
    h1 {
      width: 90%;
      font-size: 26px;
      font-weight: 600;
      line-height: 37px;
      letter-spacing: 0em;
    }
  }
  .PPCRight {
    width: 100%;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .BacteriaList {
    h3 {
      font-size: 14px;
    }
  }
  .BSCLeft {
    width: 75%;
    height: 520px;
  }
  .PPITextContainer {
    h1 {
      font-size: 23px;
      font-style: italic;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
  .SolidImageOne {
    height: 350px;
    object-fit: cover;
  }

  .HeadingOne {
    width: 80%;
    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
    }
  }

  .HeadingTwo {
    width: 70%;
    p {
      margin-top: 20px;
    }
  }

  h2.HeadingUpdatedStyle2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  .FranchiseTextPortion {
    padding-top: 60px;
    padding-bottom: 60px;
    height: fit-content;
    min-height: fit-content;
  }

  .HeadingOne1 {
    width: 80%;
    h1 {
      font-size: 25px;
      font-weight: 600;
      line-height: 35px;
    }
  }
  .HeadingTwo {
    h1 {
      font-size: 22px;
      font-weight: 700;
      line-height: 32px;
      width: 90%;
    }
  }

  .SecondContainer {
    padding-left: 0%;
    padding-right: 0%;
  }

  .AntimicrobialPageContainerOne {
    p {
      font-size: 18px;
    }
  }
  .ButtonContainer2 {
    height: 200px;
    button {
      width: 60%;
    }
  }
  .StandardsImageContainer {
    left: 20%;
    width: auto;
  }
  .BSCRight {
    width: 90%;
  }
  .StandardLogo {
    width: 130px;
  }
  .ListContainer1 {
    margin-top: 25px;
  }
  .List1 {
    li {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 500px) {
  .ButtonContainer {
    button {
      width: 50%;
    }
  }
  .List {
    li {
      color: #707070;
      font-size: 14px;
      font-weight: 500;
      line-height: 35px;
      margin: 10px;
    }
  }
  .TextLogoContainer2 {
    h1 {
      font-size: 30px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 18px !important;
    }
  }
  .PPCLeftLogo {
    display: none;
    visibility: hidden;
  }
  .PPCRightText {
    width: 90%;
  }
  .BSCLeft {
    p {
      font-size: 14px;
    }
  }
  .PPCLeftText {
    width: 90%;
  }
  .PPCLeftText {
    h1 {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 450px) {
  .BSCLeft {
    h1 {
      font-size: 30px;
      margin-top: 60px;
    }
    h2 {
      font-size: 20px;
    }
  }
  .BSCRight {
    height: 600px;
  }
  .LearnMoreContainer {
    b {
      font-size: 14px;
    }
  }
  .HeadingOne {
    width: 90%;
    h1 {
      font-size: 18px;
    }
  }
  .HeadingTwo {
    width: 80%;
    margin-top: 60px !important;
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 20px;
    }
  }
  .PPITextContainer {
    h1 {
      font-size: 21px;
    }
  }
  h2.HeadingUpdatedStyle {
    font-size: 28px;
  }
}
