<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Healthcare</div>

  <div class="ProductPageImage">
    <img src="../../assets/Healthcare/image-001.png" class="SolidImageOne" />
    <div class="PPITextContainer">
      <h1>ESSENTIAL NEED FOR EVERY HEALTHCARE SPACES</h1>
    </div>
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">
        Meganite solid surface delivers both quality aesthetic and high
        performance. Offers hygienic, durable and easy maintenance surfaces that
        limits bacteria growth in stringent hygienic demand spaces.
      </h1>
    </div>
  </div>

  <div class="SecondContainer">
    <img src="../../assets/Healthcare/image-002.png" alt="" />
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne1">
      <h1 class="HeadingOneText1">
        Develop your healthcare design standard with Maganite
      </h1>
    </div>

    <div class="HeadingTwo" style="margin-top: 110px">
      <h1>VALUE ENGINEERING SUPPORT</h1>
      <p>
        Provide solution to maximize our product’s performance requirements at
        the lowest possible cost.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>COMPETITIVE BUNDLE PRICING</h1>
      <p>
        Available in both solid surface sheets and sinks. Meganite provides
        surfacing solution for more than one application. Discounts for high
        volume quantities and for multiple material specs.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>LOCAL & GLOBAL SUPPORT NETWORK</h1>
      <p>
        Local/global service and on time delivery to meet your tight building
        schedules.
      </p>
    </div>
  </div>

  <div class="imageContainer">
    <img
      src="../../assets/Healthcare/image-003.png"
      style="width: 100%"
      alt=""
    />
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne1">
      <h2 class="HeadingUpdatedStyle">Meganite is ;</h2>
    </div>

    <div class="HeadingTwo" style="margin-top: 110px">
      <h2 class="HeadingUpdatedStyle2">HYGIENIC & NON-POROUS</h2>
      <p>
        Does not support growth of mold, mildew or bacteria and is stain
        resistant. Meganite is safe for food preparation and is certified by
        NSF. Suitable for spaces where hygiene is essential.
      </p>
    </div>

    <div class="HeadingTwo">
      <h2 class="HeadingUpdatedStyle2">INCONSPICUOUS SEAM</h2>
      <p>Seamless surface joints with no crevices to trap bacteria and dirt.</p>
    </div>

    <div class="HeadingTwo">
      <h2 class="HeadingUpdatedStyle2">EASY MAINTENANCE</h2>
      <p>
        Easy to clean and does not require sealing or special products for
        maintenance.
      </p>
    </div>

    <div class="HeadingTwo">
      <h2 class="HeadingUpdatedStyle2">DURABLE AND EASY TO REPAIR</h2>
      <p>
        Tough, durable material to withstand intensive daily use. Meganite can
        be easily renewed and restored to its original appearance after heavy
        wear and tear.
      </p>
    </div>
  </div>

  <div class="ProductPageImage2">
    <div class="LeftImage">
      <img src="../../assets/Healthcare/image-004.png" style="width: 100%" />
    </div>
    <div class="RightImage">
      <img src="../../assets/Healthcare/image-005.png" style="width: 100%" />
    </div>
  </div>

  <div class="BacteriaStandardContainer">
    <div class="BSCLeft">
      <h1>AcryMeds</h1>
      <h2>A TOOL FOR HAI PREVENTION</h2>
      <p style="margin-top: 50px">
        Redefine clean with built-in antimicrobial protection that protects the
        surface itself against Meganite's selected bacteria.
      </p>
      <p>
        Available in both solid surface sheets and sinks, find out how AcryMed
        can be included in your material specs.
      </p>
      <div class="LearnMoreContainer">
        <b>Learn More >>></b>
      </div>
      <div class="StandardsImageContainer">
        <img src="../../assets/Healthcare/JIS.png" style="width: auto" />
        <img src="../../assets/Healthcare/ISO.png" style="width: auto" />
      </div>
    </div>

    <div class="BSCRight">
      <h1>99.9 % *</h1>
      <h2>effective against :</h2>
      <div class="BacteriaList">
        <h3>ATCC 33591 Staphylococcus aureus subsp. Aureus (MRSA)</h3>
        <h3>ATCC 8739 Escherichia coli</h3>
        <h3>ATCC 9027 Pseudomonas aeruginosa</h3>
        <h3>ATCC 4352 Klebsiella pneumoniae</h3>
      </div>
      <div class="DisclaimerContainer">
        <b style="line-height: 30px">ACRYMED DISCLAIMER:</b>
        <br />
        Tested 99.9%* effective against Meganite selected bacteria in accordance
        with ISO 22196 and JIS Z 2801 testing standards. Results may vary when
        tested on different organisms or bacteria. The AcryMed technology
        protects the product itself against stain and odor-causing bacteria.
        AcryMed does not protect users or other beings from disease-causing
        bacteria.
      </div>
    </div>
  </div>

  <!-- <div class="ProductPageImage2">
    <div class="LeftImage">
      <img src="../../assets/Franchise/image-002.png" style="width: 100%" />
    </div>
    <div class="RightImage">
      <img src="../../assets/Franchise/image-003.png" style="width: 100%" />
    </div>
  </div>

  <div class="ProductPageImage" style="padding: 26px">
    <img src="../../assets/Franchise/image-004.png" class="SolidImageOne" />
  </div> -->

  <!-- <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">Operation Phase</h1>
    </div>

    <div class="HeadingTwo" style="margin-top: 110px">
      <h1>A<br />MODULAR DESIGN<br />SYSTEM</h1>
      <p>
        Meganite solid surface is light weight and easily fabricated to be built
        on a modular system.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>B<br />REPAIRABLE & EASE<br />OF MAINTENANCE</h1>
      <p>
        Surface can be repaired at store-site with minimal tools. Store
        close-down hours are reduced for maintenance.
      </p>
    </div>

    <div class="HeadingTwo">
      <h1>C<br />TOUGH<br />BUNDLE PRICING</h1>
      <p>
        Durable and tough, the surface will not delaminate over time Thus,
        reduce surface maintenance frequency and repair cost that might incur.
      </p>
    </div>
  </div> -->

  <div class="GalleryPortion">
    <img
      src="../../assets/Franchise/image-007.png"
      width="30%"
      style="width: 37%; position: absolute; right: 0%; bottom: 15%"
    />
    <img src="../../assets/Franchise/image-005.png" style="width: 50%" />
    <img
      src="../../assets/Franchise/image-006.png"
      style="width: 30%; position: absolute; left: 34%; top: 30%"
    />
  </div>

  <div class="OuterListContainer">
    <div class="OLCData">
      <h1>
        Explore the right surface for the right application in every space.
      </h1>
      <div class="ListContainer1">
        <div class="List1">
          <ul>
            <li>ADA COMPLIANT SINKS</li>
            <li>DENTAL & OUTPATIENT CLINICS</li>
            <li>NURSES’ STATIONS / RECEPTION</li>
            <li>OPERATING THEATRES</li>
            <li>PATIENT ROOMS</li>
            <li>PUBLIC SPACES</li>
          </ul>
        </div>
        <div class="List">
          <ul>
            <li>MATERNITY & PAEDIATRICS</li>
            <li>KIOSKS / CAFETERIAS</li>
            <li>WASHROOM & SHOWER PAN</li>
            <li>WINDOW SILLS</li>
            <li>WAINSCOTING</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="TextLogoContainer">
    <div class="ButtonContainer">
      <button>Download Revit Files</button>
      <button>3-Part CSI Spec. Guide</button>
    </div>
    <div class="LogoContainer">
      <img
        src="../../assets/Franchise/Logo-1.png"
        style="width: auto; margin: 70px"
        alt=""
      />
      <img
        src="../../assets/Franchise/Logo-2.png"
        style="width: auto; margin: 70px"
        alt=""
      />
    </div>
  </div>

  <div class="TextLogoContainer2">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications.
    </p>
    <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div>
  </div>

  <!-- <div class="ProductPageImage" style="padding: 26px">
    <img src="../../assets/Franchise/image-008.png" class="SolidImageOne" />
  </div> -->

  <div class="OuterListContainer">
    <div class="OLCData">
      <h1>Notable Client</h1>
      <div class="ListContainer1">
        <div class="List1">
          <ul>
            <li>Yale New Haven Hospital</li>
            <li>Children's Memorial Hospital</li>
            <li>American Hospital - Dubai</li>
            <li>East Orange General Hospital</li>
            <li>The Ottawa Hospital</li>
            <li>University Hospital</li>
          </ul>
        </div>
        <div class="List1">
          <ul>
            <li>Glendale Memorial Hospital & Health Center</li>
            <li>Mercy Health System</li>
            <li>Methodist Healthcare</li>
            <li>Orange Park Medical Center</li>
            <li>St. Jude Children's Research Hospital</li>
            <li>Women's College Hospital</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="PastProjectContainer">
    <div class="PPCLeft">
      <div class="PPCLeftLogo">
        <img
          src="../../assets/Franchise/clock.png"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="PPCLeftText">
        <div>
          <h1>PAST PROJECT</h1>
          <p>Go to Past Project page</p>
        </div>
      </div>
    </div>
    <div class="PPCRight">
      <div class="PPCRightText">
        > Be inspired by our past projects and get an impression of the design
        solutions that Meganite® make possible !
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
