<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Inspirations / Education</div>

  <div class="ProductPageImage">
    <img
      src="../../assets/Inspiration-Education/image-001.png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer">
      <h1>Creating Healthy Educational Environment for Your Children</h1>
    </div>
  </div>

  <div class="FranchiseTextPortion">
    <div class="HeadingOne">
      <h1 class="HeadingOneText">
        Spaces used for education need to be both inspiring and hard wearing
        without worrying about the practicalities.
        <br /><br />
        Hygiene is the most important factor to consider when choosing the best
        material to use in environments designed for the education of all
        children from infants to preschoolers, to teenagers.
      </h1>
    </div>
  </div>

  <div class="MainHeading2Container">
    <h1>
      Leading the next generation of K-12 design with eco-friendly certified
      surface
    </h1>
  </div>
  <div class="MainPara2Container">
    <h1>
      Meganite is certified with GreenGuard Gold® as low VOC emitting material,
      with safety and hygiene our top priorities for educational spaces.
    </h1>
  </div>

  <div class="SecondContainer">
    <img src="../../assets/Inspiration-Education/image-002.png" alt="" />
  </div>

  <div class="MainHeading3Container">
    <h1>
      Keep It Cleaner,<br />
      Fresher and Safer
    </h1>
  </div>

  <div class="MainPara3Container">
    <h1>
      Inconspicuous joints make acrylic solid surfaces incredibly easy to clean
      and highly resistant to bacterial growth. Meganite also adheres to global
      standards for food safety like the NSF-51 certification, making the
      surface safe for food contact
    </h1>
  </div>

  <div class="SecondContainer" style="padding-left: 5%; padding-right: 5%">
    <img src="../../assets/Inspiration-Education/image-003.png" alt="" />
  </div>

  <div class="MainHeading4Container">
    <h1>Enhance emotional intelligence</h1>
    <p>“with rich colors and innovative designs.”</p>
  </div>

  <div class="MainPara4Container">
    <h1>
      Inconspicuous joints make acrylic solid surfaces incredibly easy to clean
      and highly resistant to bacterial growth. Meganite also adheres to global
      standards for food safety like the NSF-51 certification, making the
      surface safe for food contact
    </h1>
  </div>

  <div class="SecondContainer" style="padding-left: 5%; padding-right: 5%">
    <img src="../../assets/Inspiration-Education/image-004.png" alt="" />
  </div>

  <div class="MainHeading5Container">
    <h1>Unlimited Application Possibilities</h1>
  </div>

  <div class="MainPara5Container">
    <div class="ListContainer1">
      <div class="List1">
        <ul>
          <li>Reception Counters</li>
          <li>Cafeterias & Pantries</li>
          <li>Dormitory Rooms</li>
          <li>Shower Stalls & Shower Pans</li>
        </ul>
      </div>
      <div class="List1">
        <ul>
          <li>Table Tops</li>
          <li>
            Public Restrooms<b style="font-size: 18px; font-weight: inherit"
              >* Sink & vanities, restroom partitions, trash receptors.</b
            >
          </li>
          <li>Student Union Buildings</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="SecondContainer" style="padding-left: 5%; padding-right: 5%">
    <img src="../../assets/Inspiration-Education/image-005.png" alt="" />
  </div>

  <div class="MainHeading6Container">
    <h1>key Benefits of Meganite Solid Surfaces for education</h1>
  </div>

  <div class="MainHeading6Container">
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="RatingTableHeading">Marble</th>
          <th class="RatingTableHeading">Laminate</th>
          <th class="RatingTableHeading">Quartz</th>
          <th class="RatingTableHeading">Meganite</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="RatingProperty">Hygiene</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Seamless & non-porous</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Food Safe</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Antimicrobial solutions</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Low VOC/No off gassing</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Durable</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Easy maintenance</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Low flammability</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Repairable</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
        <tr>
          <td class="RatingProperty">Thermoformability</td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined">
                star_border
              </span></mat-icon
            >
          </td>
          <td style="color: #ff1d31">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              ><span class="material-icons-outlined"> star </span></mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="TextLogoContainer">
    <div class="ButtonContainer">
      <button>Download Revit Files</button>
      <button>3-Part CSI Spec. Guide</button>
    </div>
    <div class="LogoContainer">
      <img
        src="../../assets/Franchise/Logo-1.png"
        style="width: auto; margin: 70px"
        alt=""
      />
      <img
        src="../../assets/Franchise/Logo-2.png"
        style="width: auto; margin: 70px"
        alt=""
      />
    </div>
  </div>

  <div class="TextLogoContainer2">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications.
    </p>
    <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div>
  </div>

  <!-- <div class="ProductPageImage" style="padding: 26px">
      <img src="../../assets/Franchise/image-008.png" class="SolidImageOne" />
    </div> -->

  <div class="OuterListContainer">
    <div class="OLCData">
      <h1>Notable Client</h1>
      <div class="ListContainer1">
        <div class="List1">
          <ul>
            <li>University of Toronto</li>
            <li>Florida State University</li>
            <li>Texas A&M University</li>
            <li>Cardinal O'hara High School</li>
            <li>Ryerson University</li>
            <li>Villanova University</li>
          </ul>
        </div>
        <div class="List1">
          <ul>
            <li>Rutgers University</li>
            <li>University of Delaware</li>
            <li>University of Wisconsin</li>
            <li>The College of New Jersey</li>
            <li>UCLA</li>
            <li>The University of the Arts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="PastProjectContainer">
    <div class="PPCLeft">
      <div class="PPCLeftLogo">
        <img
          src="../../assets/Franchise/clock.png"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="PPCLeftText">
        <div>
          <h1>PAST PROJECT</h1>
          <p>Go to Past Project page</p>
        </div>
      </div>
    </div>
    <div class="PPCRight">
      <div class="PPCRightText">
        > Be inspired by our past projects and get an impression of the design
        solutions that Meganite® make possible !
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
