* {
  font-family: "Lora", serif;
  // font-family: "Playball", cursive;
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.HomeMainContainer {
  width: 100%;
  position: absolute;
  left: 0;
}
.hide {
  display: block;
  visibility: visible;
}
.show {
  display: none;
  visibility: hidden;
}
.hide2 {
  display: block;
  visibility: visible;
}
.HomeBannerFirstImage {
  width: 100%;
  position: relative;
}
.HomeTextFirstContainer {
  position: absolute;
  bottom: 10%;
  left: 5%;
  // background-color: white;

  h1 {
    color: white;
    font-weight: 400;
    font-size: 36px;
  }
  h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
  }
  h3 {
    color: white;
    font-size: 18px;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

h4 {
  color: white;
}

.HomeLinkContainer {
  // background-color: rgb(255, 96, 96);
  background-color: #f0f0f0;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 50px;
  height: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.HomeBannerSecondContainer {
  display: flex;
  justify-content: center;
}
.HomeImageSecondContainer {
  position: relative;
}
.HomeTextSecondContainer {
  position: absolute;
  bottom: 10%;
  left: 3%;
  h1 {
    color: white;
    font-weight: 500;
    font-size: 36px;
  }
  h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
  }
}
.HomeBannerThirdContainer {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.HomeBannerFourthContainer {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}
.HomeImageFourthContainer {
  position: relative;
}
.HomeImageFifthContainer {
  position: relative;
}
.HomeTextFourthContainer {
  width: 55%;
  position: absolute;
  bottom: 20%;
  left: 6%;
  h1 {
    color: rgb(61, 61, 61);
    font-weight: 500;
    font-size: 30px;
  }
  h4 {
    font-size: 16px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a {
    color: black;
    text-decoration: underline;
    margin-top: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}
.HomeBannerFifthContainer {
  display: flex;
  justify-content: center;
}
.HomeTextFifthContainer {
  width: 80%;
  position: absolute;
  bottom: 20%;
  left: 3%;
  h1 {
    color: white;
    font-weight: 700;
    font-size: 36px;
  }
  h4 {
    font-size: 16px;
    // color: rgb(61, 61, 61);
  }
  a {
    // color: rgb(61, 61, 61);
    color: white;
    margin-top: 10px;
  }
}
.slide {
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  height: 400px;
  text-align: center;
  img {
    margin: auto;
    margin-top: 50px;
    width: 70%;
  }
  b {
    display: block;
    margin: auto;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  a {
    display: block;
    margin: auto;
    color: lightgray;
  }
}

.mainIcon {
  color: inherit;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  background-color: transparent;
  transition-duration: 0.2s;
  vertical-align: middle;
}
.mainIcon:hover {
  background-color: #ff1d31;
  transition-duration: 0.2s;
  color: inherit;
}
.mainIconContainer {
  background-color: transparent;
  width: max-content;
  transition-duration: 0.3s;
  color: #ff1d31;
  p {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: transparent;
    font-size: 14px;
    // font-family: "Didact Gothic";
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

.mainIconContainer:hover {
  color: white;
  background-color: #ff1d31;
  transition-duration: 0.3s;
  p {
    color: white;
  }
}

.owl-next {
  position: absolute !important;
  top: 37% !important;
  right: 0 !important;
}

.owl-prev {
  position: absolute !important;
  top: 37% !important;
  left: 0 !important;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.productImageShowcase {
  background-color: black;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .HomeLinkContainer {
    bottom: 40%;
  }
  .HomeTextFirstContainer {
    h1 {
      color: white;
      font-weight: 500;
      font-size: 25px;
    }
    h4 {
      color: white;
      font-size: 14px;
    }
  }
  .HomeTextSecondContainer {
    h1 {
      font-weight: 500;
      font-size: 25px;
    }
    h4 {
      font-size: 14px;
    }
  }

  .HomeTextFourthContainer {
    bottom: 30%;
    h1 {
      color: rgb(61, 61, 61);
      font-weight: 700;
      font-size: 25px;
    }
    h4 {
      font-size: 14px;
    }
    a {
      margin-top: 10px;
    }
  }
  .HomeTextFifthContainer {
    h1 {
      color: white;
      font-weight: 700;
      font-size: 25px;
    }
    h4 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 998px) {
  .productImageShowcase {
    width: 33%;
  }
}

@media screen and (max-width: 840px) {
  .HomeBannerSecondContainer {
    flex-wrap: wrap;
  }
  .HomeImageSecondContainer {
    width: 100%;
  }
  .HomeBannerThirdContainer {
    flex-wrap: wrap;
  }
  .HomeBannerFourthContainer {
    flex-wrap: wrap;
  }
  .HomeImageFourthContainer {
    width: 100%;
  }
  .HomeImageFifthContainer {
    width: 100%;
  }
  .hide {
    display: none;
    visibility: hidden;
  }
  .HomeBannerFifthContainer {
    flex-wrap: wrap;
  }
  .HomeImageFifthContainer {
    width: 100%;
  }
  .imageContainerGeneral {
    height: 300px;
  }
  .generalTextImageContainer {
    width: 100%;
  }
  .bannerFourthImageContainer {
    height: 300px !important;
    object-fit: cover;
  }
  .youtubeVideo {
    height: 50vh !important;
  }
  .imageHeight {
    height: 450px !important;
  }
  .show {
    display: block;
    visibility: visible;
  }
  .hide2 {
    display: none;
    visibility: hidden;
  }
  .secondImageResponsive {
    height: 100vh !important;
    object-fit: fill;
  }
  .mainHomeImageResponsive {
    height: 100vh !important;
    object-fit: cover;
    object-position: 30%;
  }
}
@media screen and (max-width: 748px) {
  .productImageShowcase {
    width: 50%;
  }
  .HomeTextFourthContainer {
    width: 90%;
  }
}

@media screen and (max-width: 485px) {
  .imageContainerGeneral {
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .productImageShowcase {
    width: 100%;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
