<!-- <div class="HomeMainContainer"> -->
<div class="HomeBannerFirstImage">
  <img
    src="../../assets/Home-Banner-1.png"
    style="width: 100%; height: auto"
    alt=""
    class="mainHomeImageResponsive"
  />
  <div class="HomeLinkContainer hide">
    <div class="mainIconContainer">
      <button class="mainIcon">
        <fa-icon [icon]="faMapMarker"></fa-icon>
      </button>
      <p>Location</p>
    </div>

    <div class="mainIconContainer">
      <button class="mainIcon">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
      <p>Request Sample</p>
    </div>

    <div class="mainIconContainer">
      <button class="mainIcon">
        <fa-icon [icon]="faEnvelop"></fa-icon>
      </button>
      <p>Message Us</p>
    </div>
  </div>
  <div
    class="HomeTextFirstContainer wow animate__animated animate__fadeInDown animate__slower"
  >
    <h1>
      THE NEW COLORS <br />
      TRUE TERRAZZO DESIGNS
    </h1>
    <h4>Be inspired By The New Collection</h4>
    <br />
    <h3>Be Inspired</h3>
  </div>
</div>

<div class="HomeBannerSecondContainer">
  <div
    class="HomeImageSecondContainer wow animate__animated animate__backInRight"
  >
    <img
      src="../../assets/Home-Banner-2.png"
      alt=""
      style="width: 100%; height: auto"
      class="secondImageResponsive"
    />
    <div
      class="HomeTextSecondContainer wow animate__animated animate__fadeInDown animate__slower"
    >
      <h1>
        Inspirations <br />
        from Nature
      </h1>
    </div>
  </div>
  <div
    class="HomeImageSecondContainer wow animate__animated animate__backInRight"
  >
    <img
      src="../../assets/Home-Banner-3.png"
      alt=""
      style="width: 100%; height: auto"
      class="secondImageResponsive"
    />
    <div
      class="HomeTextSecondContainer wow animate__animated animate__fadeInDown animate__slower"
    >
      <h1>
        Award-Winning <br />
        Movement Series
      </h1>
    </div>
  </div>
</div>
<div>
  <iframe
    style="width: 100%; height: 120vh"
    class="youtubeVideo"
    [src]="safeURL"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<div class="HomeBannerThirdContainer">
  <div
    class="HomeImageSecondContainer wow animate__animated animate__backInRight imageContainerGeneral"
  >
    <img
      src="../../assets/Home-Banner-4.png"
      alt=""
      style="width: 100%; height: auto"
    />
    <div
      class="HomeTextSecondContainer wow animate__animated animate__fadeInDown"
    >
      <h1>Bring Your Ideas To Life</h1>
      <h4>Get Inspired By Meganite's Top Selling Colors</h4>
      <h4 style="text-decoration: underline">See More >></h4>
    </div>
  </div>
  <div class="hide">
    <img
      src="../../assets/Home-Banner-5.png"
      alt=""
      style="width: 100%; height: auto"
      class="hide"
    />
  </div>
</div>

<div style="position: relative">
  <owl-carousel-o [options]="customOptions" style="margin-top: 200px">
    <ng-template
      carouselSlide
      *ngFor="let product of productData; let i = index"
    >
      <div class="slide">
        <img
          [src]="product._3dImage"
          (mouseenter)="clickProduct($event, i)"
          alt=""
          *ngIf="activeIndex != i"
        />
        <div *ngIf="activeIndex != i">
          <br />
          <b>MT.CARRAR</b>
          <a>M020</a>
        </div>
        <img
          *ngIf="showProduct && activeIndex == i"
          [src]="this.productData[i]._2dImage"
          alt=""
          style="width: 100%; height: 100%; margin: 0"
          (mouseout)="hideProduct()"
        />
      </div>
    </ng-template>
  </owl-carousel-o>
  <!-- <div *ngIf="showProduct" class="scale-in-center productImageShowcase">
    <img [src]="this.activeProduct" alt="" style="width: 100%; height: 100%" />
  </div> -->
</div>

<div class="HomeBannerFourthContainer">
  <div class="HomeImageFourthContainer">
    <img
      src="../../assets/Home-Banner-6.png"
      alt=""
      style="width: 100%; height: auto"
      class="bannerFourthImageContainer"
    />
    <div class="HomeTextFourthContainer">
      <h1 class="wow animate__animated animate__fadeInDown">
        Beyond the Surface
      </h1>
      <h4 class="wow animate__animated animate__fadeInDown">
        A tool to support HAI prevention, Meganite's new antimicrobial
        technology–AcryMed, is an ultra hygienic antimicrobial solid surface
        that is tested by SGS in accordance with global testing standards.
      </h4>
      <a>Learn More about AcryMed </a>
    </div>
  </div>
  <div class="generalTextImageContainer">
    <img
      src="../../assets/Home-Banner-7.png"
      alt=""
      style="width: 100%; height: auto"
      class="imageHeight"
    />
  </div>
</div>

<div class="HomeBannerFifthContainer">
  <div class="generalTextImageContainer hide2">
    <img
      src="../../assets/Home-Banner-8.png"
      alt=""
      style="width: 100%; height: auto"
    />
  </div>
  <div class="HomeImageFifthContainer imageContainerGeneral">
    <img
      src="../../assets/Home-Banner-9.png"
      alt=""
      style="width: 100%; height: auto"
      class="bannerFourthImageContainer"
    />
    <div
      class="HomeTextFifthContainer wow animate__animated animate__fadeInDown"
    >
      <h1>
        Envision the Possibilities to create your corporate color for global
        franchise expansion
      </h1>
      <a>Explore Now >>></a>
    </div>
  </div>
  <div class="generalTextImageContainer show">
    <img
      src="../../assets/Home-Banner-8.png"
      alt=""
      style="width: 100%; height: auto"
      class="imageHeight"
    />
  </div>
</div>
<app-footer></app-footer>
