<div class="ProductMainPage">
  <div class="ProductMainPath">Home / Specification / Lunch & Learn</div>

  <div class="ProductPageImage">
    <div
      style="
        height: 100%;
        width: 100%;
        background-color: #00000073;
        position: absolute;
      "
    ></div>
    <img
      src="../../assets/Specification-Request/main.png"
      class="SolidImageOne"
    />
    <div class="PPITextContainer">
      <h1>REQUEST FOR LUNCH & LEARN</h1>
    </div>
    <div class="PPITag">
      <div>
        <h1>
          Category box Design Category : (06) Wood, Plastics and Composites
        </h1>
      </div>
      <div>
        <p>AIA Approved | IDCEC Approved</p>
      </div>
    </div>
  </div>

  <div class="TextLogoContainer">
    <div class="LogoContainer">
      <img src="../../assets/Franchise/Logo-1.png" class="LogoStyling" alt="" />
      <img src="../../assets/Franchise/Logo-2.png" class="LogoStyling" alt="" />
    </div>
  </div>

  <div class="TextLogoContainer2">
    <h1>Continuing Education with Meganite</h1>
    <h2>The Surface of the Future</h2>
    <h3>AIA & IDCEC Approved 1.0 LU/HSW</h3>
    <p>
      This one-hour course examines the use of solid surfaces to help design
      professionals realize the versatility this modern, sleek product now
      offers. Applications of trend-setting solid surfaces are explored in a
      variety of applications including healthcare, commercial, retail, and
      educational industries. A comparison of other commonly used products is
      provided to re-affirm the varied uses of solid surfaces in a multitude of
      applications. These applications reveal the importance of low maintenance,
      durability and sustainability. As well, these solid surfaces have
      capabilities for flexible fabrication akin to cut wood without the
      hygienic worry. The course reminds design professionals that there is no
      need to sacrifice innovative designs when using a solid surface in any
      area for any user.
    </p>
    <!-- <div class="ButtonContainer2">
      <button>Free Online</button>
      <button>Contact Rep</button>
    </div> -->
  </div>

  <div class="TextContainer3">
    <h1>LEARNING OBJECTIVES</h1>
    <div class="TC3Point">
      <p>
        – Compare and contrast solid surfaces to other commonly used products
        and identify the functional benefits of using solid surfaces that
        contribute to a cleaner space.
      </p>
      <p>
        – Explain how the process of thermoforming allows designers to products
        products of various shapes and sizes to meet project expectations.
      </p>
      <p>
        – Analyze how solid surfaces may be applied to diverse projects that
        demand quality, sustainability, and longevity to promote positive
        well-being for people and property.
      </p>
      <p>
        – Explore innovative case studies to realize that it is not necessary to
        sacrifice the aesthetics of a space when creating a safe, hygienic,
        low-maintenance environment.
      </p>
    </div>
  </div>

  <div class="ButtonContainer2">
    <button>MAKE YOUR REQUEST</button>
  </div>
  <div class="MovementSeriesContainer">
    <img
      src="../../assets/Specification-Request/M038-full-slab 1.png"
      style="width: 100%; height: auto"
    />
    <div class="MSCTextContainer">
      <h1>Interested in specifying Meganite in your next project ?</h1>
      <button>CONTACT US</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
